FORMAT: 1A
HOST: http://www.google.com

# KC Direct Messaging Platform

This document describes the API for Kimberly-Clark's *Direct Messaging Platform*.

## Media Types

Where applicable this API uses the [HAL+JSON](https://github.com/mikekelly/hal_specification/blob/master/hal_specification.md) media-type to represent resources, states and affordances.

## Response

The common [HTTP Code System](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) should be used as response codes for requests.

## Account Types

Please see the Account Types document on the Github repo, [here](http://goo.gl/gVFTsJ).

## Notes

- **F+T created the response objects, please adjust as needed.**
- All IDs (user, company, consumer, brand, etc) will be GUIDs to prevent ID spoofing.
- **DELETE** functions should not remove data they should **date-flag** an item as deleted so as not to skew metrics and to keep an audit trail.

- Most requests will need to have a security token in the request header called "Authorization"
- This security token is created and returned when requesting a login an will be used extensively throughout.


----



# Group Auth

**CodeCafé needs to drive this.** Here's what they've given us so far.

## User Authentication [/account]
### Sign In [POST]

Attempt to log the user into the system.

This resource has the following request parameters:

- `username` Registered email address
- `password` DMP Password


+ Request (application/json;charset=UTF-8)

    ```
    {
        "username": "john@example.com",
        "password": "YourPassword"
    }
    ```

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "user": {
            "id": "25892e17-80f6-415f-9c65-7395632f0223",
            "firstname": "John",
            "lastname": "Smith",
            "email": "john@flintntinder.com",
            "mobile": "123456789",
            "title": "Tea guy",
            "role": "admin",
            "photo_url": "images\/avatars\/john.jpg",
            "brands": [
                {
                    "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                    "name": "Huggies"
                },
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                }
            ]
            
        },
        "securitytoken" : "F19706EF-DF60-4D7A-A295-F25D4CC4A688",
        "encrypted_password" : "SjETpA5U7Cscv65tDu82zLqPc65dak5tdXQ5dsB4/bU="
    }
    ```

+ Response 401

## User Authentication [/account/signout/{UserID}]

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID
    
### Sign Out [POST]

**This end-point was not supplied in the original CodeCafé document, but is required.**

This resource has the user's id as a parameter, and will delete the current user session and sign the user out of the platform.

The login token will expire.

It should return 200 if a user session exists, 401 otherwise.

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "next": {
                "href": "/"
            }
        },
        "status": "success"
    }
    ```

+ Response 401


## Account Creation [/account/save]
### Create a new account [POST]

Attempt to create a new account for a user

This resource has the following request parameters:

- `userid` The user guid. The account will be created for this user.
- `role` The role id of this account
- `company` The company guid. Which company this account will be for.
- `active` "1" or "0". Defaults to active
- `brands` (array of strings) Which brands this account will have access to


+ Request (application/json;charset=UTF-8)

    ```
    {
       "userid": '0248b1e7-da23-4319-bfa3-d1ea4be47786',
        "role": "3",
        "company": "516A1A7A-2C2G-3A0A-A55A-71A09643E94B1",
        "active": "1",
        "brands": [
            {
                    "id": "e33898de-6302-4756-8f0c-5f6c5218e02e",
                    "name": "Huggies"
            }
        ]
            
    }
    ```

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "user": {
            "id": "25892e17-80f6-415f-9c65-7395632f0223",
            "firstname": "John",
            "lastname": "Smith",
            "email": "john@flintntinder.com",
            "mobile": "123456789",
            "title": "Tea guy",
            "role": "admin",
            "photo_url": "images\/avatars\/john.jpg",
            "brands": [
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Huggies"
                },
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                }
            ]
            
        }
    }
    ```

+ Response 401


## Account Edit [/account/save/{UserID}]

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID
    
### Edit an existing account [POST]


Attempt to edit an existing account for a user

This resource has the following request parameters:

- `userid` The user guid. The account will be created for this user.
- `role` The role id of this account
- `company` The company guid. Which company this account will be for.
- `active` "1" or "0". Defaults to active
- `brands` (array of strings) Which brands this account will have access to


+ Request (application/json;charset=UTF-8)

    ```
    {
       "userid": '0248b1e7-da23-4319-bfa3-d1ea4be47786',
        "role": "3",
        "company": "516A1A7A-2C2G-3A0A-A55A-71A09643E94B1",
        "active": "1",
        "brands": [
            {
                    "id": "e33898de-6302-4756-8f0c-5f6c5218e02e",
                    "name": "Huggies"
            }
        ]
            
    }
    ```

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "user": {
            "id": "25892e17-80f6-415f-9c65-7395632f0223",
            "firstname": "John",
            "lastname": "Smith",
            "email": "john@flintntinder.com",
            "mobile": "123456789",
            "title": "Tea guy",
            "role": "admin",
            "photo_url": "images\/avatars\/john.jpg",
            "brands": [
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Huggies"
                },
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                }
            ]
            
        }
    }
    ```

+ Response 401


## Account Password [/account/password/{UserID}]

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID

### Reset Password [POST]

This will generate a single use password change token. The token should ideally be sent directly to
the user as part of a confirmation link.

This should *not* deactivate the account or the current password, and the token should be cleared if the user signs in successfully with the current password.

+ Response 200



## Account Password [/account/password/change/]
### Change Account Password  [POST]
    
This will change an account's password if the token is a match.

The Token is sent to the user via email, and will probably be a `GET` variable on the 'change password' page.

- `Token`
- `New Password`

+ Request

    ```
    {
        "token": "TheToken",
        "password": "NewPassword"
    }
    ```

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "next": {
                "href": "/"
            }
        },
        "status": "success",
        "message": "Password successfully changed. You can now sign in with your new password."
    }
    ```

# Group User Functionality

Users are **not** Consumers; Users can log into the platform to manage and update the platform.

## User List [/users/]

### Get a list of all platform users [GET]

+ Response 200 (application/json;charset=UTF-8)

    ```
    {
        "users": [{
            "id": "25892e17-80f6-415f-9c65-7395632f0224",
            "firstname": "Casper",
            "lastname": "Odendaal",
            "email": "casper@flintntinder.com",
            "mobile": "123456789",
            "title": "Web Designer",
            "role": "super",
            "photo_url": "images\/avatars\/casper.jpg",
            "brands": [
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                },
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Huggies"
                }
            ]
            
            
        }, {
            "id": "25892e17-80f6-415f-9c65-7395632f0223",
            "firstname": "John",
            "lastname": "Smith",
            "email": "john@flintntinder.com",
            "mobile": "123456789",
            "title": "Tea guy",
            "role": "admin",
            "photo_url": "images\/avatars\/john.jpg",
            "brands": [
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Huggies"
                },
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                }
            ]
            
        }, {
            "id": "25892e17-80f6-415f-9c65-7395632f0225",
            "firstname": "Emmanuel",
            "lastname": "Matsiyana",
            "email": "emmanuel@flintntinder.com",
            "mobile": "123456789",
            "title": "Web Designer",
            "role": "admin",
            "photo_url": "images\/avatars\/emmanuel.jpg",
            "brands": [
                {
                    "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                    "name": "Huggies"
                },
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Baby Soft"
                }
            ]
        }, {
            "id": "25892e17-80f6-415f-9c65-7395632f0226",
            "firstname": "Willem",
            "lastname": "Labu",
            "email": "willem@flintntinder.com",
            "mobile": "123456789",
            "title": "TD",
            "role": "company",
            "photo_url": "images\/avatars\/willem.jpg",
            "brands": [
                {
                    "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                    "name": "Baby Soft"
                }
            ]
        }, {
            "id": "25892e17-80f6-415f-9c65-7395632f0227",
            "firstname": "Lianie",
            "lastname": "Potgieter",
            "email": "lianie@flintntinder.com",
            "mobile": "123456789",
            "title": "Art Director",
            "role": "brand",
            "photo_url": "images\/avatars\/lianie.jpg",
            "brands": [
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Baby Soft"
                },
                {
                    "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                    "name": "Huggies"
                }
            ]
            
            
            
        }, {
            "id": "25892e17-80f6-415f-9c65-7395632f0228",
            "firstname": "Nimay",
            "lastname": "Parekh",
            "email": "nimay@flintntinder.com",
            "mobile": "123456789",
            "title": "MD",
            "role": "basic",
            "photo_url": "images\/avatars\/nimay.jpg",
            
            "brands": [
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                }
            ]
        }
        
        ]
    }
    ```

## User [/user/]

+ Model (application/hal+json;charset=UTF-8)

    HAL+JSON representation of the User in the database.

    + Body
    
        ```
        {
            "_links": {
                "self": {
                    "href": "/user/25892e17-80f6-415f-9c65-7395632f0223"
                }
            },
            "id": "25892e17-80f6-415f-9c65-7395632f0223",
            "firstname": "John",
            "lastname": "Smith",
            "email": "john@flintntinder.com",
            "mobile": "123456789",
            "title": "Tea guy",
            "role": "admin",
            "photo_url": "images\/avatars\/john.jpg",
            
            "country": {
                "name": "South Africa",
                "code": "ZA",
                "dialcode": "27"
            },
            "language": {
                "name": "English",
                "code": "en"
            },
            "created_at": "2014-04-14T02:15:15Z",
            "last_active": "2014-04-14T02:15:15Z",
            
        }
        ```
        
### Create a User [POST]

This is an administrative function.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to create new users, and only for account types lower in heirarchy than themselves.

401 should be returned if an attempt is made to create a user by an unauthorized account.

This end-point requires the following parameters to be sent:

- `firstname` (string)
- `lastname` (string)
- `Display Name` (string)
- `email` (string)
- `mobile` (string)
- `photo url` (string)
- `country` (object of strings)
- `language` (object of strings)

+ Request (application/json;charset=UTF-8)

    ```
    {
        "firstname": "John",
        "lastname": "Smith",
        "display_name": "John Smith",
        "email": "john@example.com",
        "mobile": "123456789",
        "photo_url": "https:\/\/example.com\/john.jpg",
        "country": {
            "name": "South Africa",
            "code": "ZA",
            "dialcode": "27"
        },
        "language": {
            "name": "English",
            "code": "en"
        },
       
    }
    ```

+ Response 200

    [User][]

+ Response 401


## User [/user/{UserID}]

### Save a User [POST]

This is an administrative function.

This is for updating an existing user.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to create new users, and only for account types lower in heirarchy than themselves.

401 should be returned if an attempt is made to create a user by an unauthorized account.

This end-point requires the following parameters to be sent:

- `firstname` (string)
- `lastname` (string)
- `Display Name` (string)
- `email` (string)
- `mobile` (string)
- `photo url` (string)
- `country` (object of strings)
- `language` (object of strings)

+ Request (application/json;charset=UTF-8)

    ```
    {
        "firstname": "John",
        "lastname": "Smith",
        "display_name": "John Smith",
        "email": "john@example.com",
        "mobile": "123456789",
        "photo_url": "https:\/\/example.com\/john.jpg",
        "country": {
            "name": "South Africa",
            "code": "ZA",
            "dialcode": "27"
        },
        "language": {
            "name": "English",
            "code": "en"
        },
       
    }
    ```

+ Response 200

    [User][]

+ Response 401


### View a User [GET]

This is an administrative function.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to view users, and only for account types lower in heirarchy than themselves.

Get a specific User's details.

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID

+ Response 200

    [User][]

## User [/user/delete/{UserID}]

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID
    
### Remove a User [POST]

This is an administrative function.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to remove users, and only for account types lower in heirarchy than themselves.

Deactivate a specific user.


+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "message": "User has been deactivated.",
        "user": {
            "firstname": "John",
            "lastname": "Smith",
            "display_name": "John Smith",
            "photo_url": "https:\/\/example.com\/john.jpg"
        }
    }
    ```

## User Metrics [/user/metrics/{UserID}]

**NOTE [WL]**

Not sure what metrics we'll need to capture per User. Need some more information here, please clarify.

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID

### Show User Metrics [GET]

+ Response 200

# Group Messaging

## Send Message [/user/message/{UserID}]
+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID

### Send a message [POST]

Send a message to a user.

- `title`
- `content`

+ Request

    ```
    {
        "title": "Message title",
        "content": "Message content to send to the selected user."
    }
    ```

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "message": "Your message was sent."
    }
    ```




## Get Message [/user/{UserID}/messages{?id}{&page}]

Get all or one specific message that has been sent to a User.

**We need to work out paging** - the below is probably not correct.

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID
    + id (optional, string, `11cdd494-de5b-460e-9ddf-4e84bad6f596`) ... Message's GUID
    + page (optional, string, `1`) ... Page number

### Get Messages [GET]

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "self": {
                "href": "/user/{UserID}/messages?MessageID={MessageID}"
            },
            "next": {
                "href": "/user/{UserID}/messages?MessageID={NextMessageID}"
            },
            "previous": {
                "href": "/user/{UserID}/messages?MessageID={PreviousMessageID}"
            }
        },
        "_paging": {
            "next": {
                "href": "/user/{UserID}/messages?page={page+1}"
            },
            "previous": {
                "href": "/user/{UserID}/messages?page={page-1}"
            }
        },
        "messages": [
            {
                "author": {
                    "id": "deb17e15-d47c-449f-b1b0-4d55247d153f",
                    "display_name": "Jane Doe",
                    "photo_url": "https:\/\/example.com\/jane.jpg"
                },
                "title": "Message title",
                "content": "Message content that was sent to user.",
                "sent": "2014-04-14T02:15:15Z",
                "opened": "2014-04-14T02:20:15Z",
                "deleted": false
            }
        ],
        "total": 1,
        "current_page": 1,
        "total_pages": 1
    }
    ```


# Group Company

## Company [/company/{guid}]

+ Model (application/hal+json)

    HAL+JSON representation of the Company in the database.

    + Body
    
        ```
        {
            "_links": {
                "self": {
                    "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
                }
            },
            "id": "a53e98e4-0197-4513-be6d-49836e406aaa",
            "name": "Kimberly-Clark",
            "photo_url": "https:\/\/example.com\/kc.jpg",
            "created_at": "2014-04-14T02:15:15Z",
            "brands": [
                {
                    "id": "e33898de-6302-4756-8f0c-5f6c5218e02e",
                    "name": "First Brand"
                },
                {
                    "id": "8c3df7e7-bae8-4772-bb49-9629254f6198",
                    "name": "Second Brand"
                }
            ],
            "active": true
        }
        ```

### Create a Company [POST]

This is an administrative function.

Only [Super Adminstrators](http://goo.gl/gVFTsJ) should be able to create new Companies.

- `Name` (string)
- `Photo Url` (string)

+ Request

    ```
    {
        "name": "New Company Name",
        "photo_url" : ""
    }
    ```

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "self": {
                "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
            },
            "next": {
                "href": "/brand/create"
            }
        },
        "status": "success",
        "message": "New Company Name has been created. You can now add a brand to it!",
        "company": {
            "id": "a53e98e4-0197-4513-be6d-49836e406aaa"
            "name": "New Company Name"
        }
    }
    ```

### View a Company [GET]

Get the properties of a certain company.

+ Parameters 
    + guid (required, string, `a53e98e4-0197-4513-be6d-49836e406aaa`) ... The Company GUID

+ Response 200
[Company][]


## Company [/company/delete/{guid}]

### Delete Company [POST]

This is an administrative task.

Only [Super Adminstrators](http://goo.gl/gVFTsJ) accounts should be able to delete a company.

Sets the Company `active` flag to `false`.

+ Parameters 
    + guid (required, string, `a53e98e4-0197-4513-be6d-49836e406aaa`) ... The Company GUID

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "message": "The Company has been deactivated."
    }
    ```

## Company List [/company]

### Get a list of all active companies [GET]

+ Response 200 (application/json;charset=UTF-8)

    ```
    {
      [
  {
    "_link":{
      "self":{
        "href":"/company/516A1A7A-2C2G-3A0A-A55A-71A09643E94B1"
      }
    },
    "active":true,
    "brands":[
      {
        "id":"Test Brand Id",
        "name":"Test Brand Name"
      },
      {
        "id":"Test Brand Id 2",
        "name":"Test Brand Name 2"
      }
    ],
    "created_at":"2014-09-26 01:30:18 PM",
    "id":"516A1A7A-2C2G-3A0A-A55A-71A09643E94B1",
    "name":"This is a test company!",
    "photo_url":""
  },
  {
    "_link":{
      "self":{
        "href":"/company/BC7D47AB-5244-432E-A0C8-F5D7E0245CA6"
      }
    },
    "active":true,
    "brands":[
      {
        "id":"Test Brand Id",
        "name":"Test Brand Name"
      },
      {
        "id":"Test Brand Id 2",
        "name":"Test Brand Name 2"
      }
    ],
    "created_at":"2014-09-29 12:14:44 PM",
    "id":"BC7D47AB-5244-432E-A0C8-F5D7E0245CA6",
    "name":"Code Cafe",
    "photo_url":""
  }
]
    }
    ```


## Company Metrics [/company/{guid}/metrics/]

**WIP**

+ Model (application/hal+json)

    HAL+JSON representation of the Company + it's metrics in the database.

    + Body
    
        ```
        {
            "_links": {
                "self": {
                    "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
                }
            },
            "id": "a53e98e4-0197-4513-be6d-49836e406aaa",
            "name": "Kimberly-Clark",
            "photo_url": "https:\/\/example.com\/kc.jpg",
            "created_at": "2014-04-14T02:15:15Z",
            "brands": [
                {
                    "id": "e33898de-6302-4756-8f0c-5f6c5218e02e",
                    "name": "First Brand",
                    "users": 3,
                    "subscribers": 12879,
                    "campaigns": 23,
                    "programs": 7
                },
                {
                    "id": "8c3df7e7-bae8-4772-bb49-9629254f6198",
                    "name": "Second Brand",
                    "users": 5,
                    "subscribers": 483628,
                    "campaigns": 75,
                    "programs": 15
                }
            ],
            "active": true
        }
        ```

### View Company Metrics [GET]

- `Company ID`
- `Name`
- `Number of brands`
- `Number of users`
- `Number of subscribers`
- `Number of active campaigns`
- `Number of active programs`

+ Parameters 
    + guid (required, string, `a53e98e4-0197-4513-be6d-49836e406aaa`) ... The Company GUID

+ Response 200

    [Company Metrics][]

# Group Brand

## Brand [/brand/]

+ Model (application/hal+json)

    HAL+JSON representation of a Brand in the database.

    + Body
    
        ```
        {
            "_links": {
                "self": {
                    "href": "/brand/e33898de-6302-4756-8f0c-5f6c5218e02e"
                }
            },
            "id": "e33898de-6302-4756-8f0c-5f6c5218e02e",
            "name": "Huggies",
            "photo_url": "https:\/\/example.com\/huggies.jpg",
            "created_at": "2014-04-14T02:15:15Z",
            "companies": [
                {
                    "id": "a53e98e4-0197-4513-be6d-49836e406aaa",
                    "name": "Kimberly-Clark"
                }
            ],
            "active": true
        }
        ```

### Create Brand [POST]

This is an administrative task.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to create a new brand, and assign it to a company.

Furthermore, *company* accounts should only be able to create brands for their own company.

- `Name` (string)
- `Photo Url` (string)

+ Request

    ```
    {
        "name": "New Brand Name",
        "photo_url": ""
    }
    ```

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "self": {
                "href": "/brand/e33898de-6302-4756-8f0c-5f6c5218e02e"
            },
            "campaign": {
                "href": "/campaigns/create"
            },
            "program": {
                "href": "/programs/create"
            },
            "company": {
                "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
            }
        },
        "status": "success",
        "message": "{New Brand Name} has been created. You can now add create campaigns or programs for it!",
        "brand": {
            "id": "e33898de-6302-4756-8f0c-5f6c5218e02e"
            "name": "New Brand Name"
        }
    }
    ```

## Brand [/brand/{guid}]

### Save Brand [POST]

This is an administrative task.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to save a new brand, and assign it to a company.

Furthermore, *company* accounts should only be able to save brands for their own company.

- `Name` (string)
- `Photo Url` (string)

+ Request

    ```
    {
        "name": "New Brand Name",
        "photo_url": ""
    }
    ```

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "self": {
                "href": "/brand/e33898de-6302-4756-8f0c-5f6c5218e02e"
            },
            "campaign": {
                "href": "/campaigns/create"
            },
            "program": {
                "href": "/programs/create"
            },
            "company": {
                "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
            }
        },
        "status": "success",
        "message": "{New Brand Name} has been created. You can now add create campaigns or programs for it!",
        "brand": {
            "id": "e33898de-6302-4756-8f0c-5f6c5218e02e"
            "name": "New Brand Name"
        }
    }
    ```

### View Brand [GET]

Get the properties of a certain brand.

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The Brand GUID

+ Response 200

    [Brand][]

## Brand [/brand/delete/{guid}]

### Delete Brand [POST]

This is an administrative task.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to delete a brand.

Sets the Brand `active` flag to `false`.

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The Company GUID

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "message": "The Brand has been deactivated."
    }
    ```


# Group Campaigns

## Campaign [/campaign/]

### Create Campaign [POST]

+ Request (application/json)
    
    ```
        {
        "name":"",
        "userid":""
        }
    ```

+ Response 200

    ```
    {
    "id":""
    }
    ```

## Campaign [/campaign/{guid}]
### Edit Campaign [POST]



Please update field names

- `Campaign ID`
- `Company ID`
- `Brand ID`
- `Name`
- `Description`
- `Start date & time`
- `End date & time` (optional)
- `Activation channels`
- `Engagement channels`
- `SMS message` (optional)
- `SMS response message` (optional)
- `SMS opt-out` (optional)
- `Email Subject line` (optional)
- `View online text` (optional)
- `Unsubscribe text` (optional)
- `Status` (optional)


+ Request (application/json)


        {
        "id":"XXXX-XXX-XXXXXX-01",
        "name":"",
        "startdate":"",
        "enddate":"",
        "description":"",
        "activationchannels":{
                        "sms":{
                            "activationmessage":"",
                            "deploymentdate": ""
                            },
                        "email":{
                            "title":"",
                            "subjectline": "",
                            "emailfrom": "",
                            "viewonlinetitle": "",
                            "unsubscribelink": "",
                            "zipfilename": "",
                            "deploymentdate": "",
                            "clickthroughurl": ""
                            }
                            },
        "engagementchannels":{
                        "smsshortcode": {
                            "shortcode": "",
                            "keyword"': "",
                            "responsemessage": "",
                            "capturefield": []                            
                        },
                        "webform": {
                            "capturefields": [],
                            "captureurl": ""                           
                        }
                    }
            }
    


+ Response 200

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The campaign GUID
    
### View Campaign [GET]

Please update field names

- `Total sent`
- `Total bounced`
- `Total unique opens`
- `Total clicks`
- `Total unique clicks`
- `Total modified`
- `Total unsubscribed`
- `Total delivered`
- `Percentage bounced`
- `Percentage delivered`
- `Percentage opened`
- `Percentage clicked`
- `Percentage clicked to open`
- `Percentage modified`
- `Percentage unsubscribed`
- `SMSs sent`
- `SMSs bounced`
- `SMSs unsubscribed`
- `SMSs percentage bounced`
- `SMSs percentage unsubscribed`

+ Response 200 (application/json;charset=UTF-8)

    ```
        {
        "id": "xxx-xxxxx-xx-xx-x-x-xxxx-xxxx-xxx-x",
        "name": "Campaign Name 1",
        "brandname": "Baby Soft",
        "brandid": "xxx-xxxxxxx-xx-xxxxx-xx",  
        "launchbase": "987",
        "activationchannels": ["SMS","EMAIL"],
        "engagementchannels": ["WEBFORM"],
        "openrate": "68",
        "responserate": "51",
        "compentries": "35",
        "emailsent": "698",
        "emaildelivered": "681",
        "smssent": "289",
        "smsdelivered": "261",
        "creatorid": "3",
        "datecreated": "2",
        "datelaunched": "2",
        "startdate": "Monday 1 September",
        "enddate": "Friday 12 September",
        "description": "This is the campaign description from the API Mock",
        "mode": "LIVE",                         

        "genders": {
                "female": "23",
                "unknown": "45",
                "male": "15"
                },
        "ages": {
                "1624": "23",
                "2534": "45",
                "3544": "15",
                "45": "10",
                "unknown": "7"
                },
        "locations": {
                "limpopo": "23",
                "mpumalanga": "20",
                "gauteng": "7",
                "westerncape": "13",
                "northerncape": "17",
                "easterncape": "15",
                "kwazulunatal": "5",
                "freestate": "18",
                "northwest": "24",
                "unknown": "3"
                },
        "status": { 
                "marriedcouples": "23",
                "marriedwithkids": "20", 
                "single": "7", 
                "singleparent": "13",
                "pregnant": "17", 
                "unknown": "15"
                },
        "activationchannel": {
                "email": "63",
                "sms": "37"
                },
        "responsechannel": {
                "email": "50",
                "sms": "63"
                },
        "activity": {
                "growth": "2.3",
                "active": "20.9",
                "inactive": "0.7",
                "new": "630",
                "dupes": "17",
                "unsubs": "5"
                },
        "tiers": {
                 "A": "9", 
                 "B": "22",
                  "C": "56",
                  "undefined": "13"
                }
            }
    ```

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The campaign GUID
    
## Campaign [/campaign/delete/{guid}]
### Delete Campaign [POST]

Sets the campaign `active` flag to `false`.

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The campaign GUID
    

+ Response 200

## Campaign Assests [/campaigns/assets/{guid}]

Please update field names

- `Asset file`. A zip file containing all your email assets, the zip file must contain at least `email.htm`, `unsubscribe.htm` and preferably `email.txt` for the plain text version.
- Image assets should be packaged in the zip file in the root folder. The `unsubscribe.htm` is a page users will view when unsubscribing, and should contain your corporate identity.
- Files with the same name will be automatically overwritten.

+ Parameters 
    + guid (required, string) ... 


### View Campaign Assets [POST]

+ Response 200

### View Campaign Assets [GET]

+ Response 200

### View Campaign Assets [DELETE]

+ Response 200

## Campaign Subscriber [/campaigns/subscriber/{guid}]
+ Parameters 
    + guid (required, string) ... 

### Create Campaign Subscriber [POST]

Please update field names

- `Subscriber ID`

+ Response 200

### Delete Campaign Subscriber [DELETE]

Please update field names

- `Subscriber ID`
+ Response 200

## Campaign Subscribers [/campaigns/subscribers/{guid}]

This will add or remove multiple users to/from a campaign. A list of all currently assigned users may
also be retrieved. A subscriber will only ever be added to a campaign once.

+ Parameters 
    + guid (required, string) ... 


### Create Campaign Subscribers [POST]

Please update field names

- `Subscriber ID`

+ Response 200

### View Campaign Subscribers [GET]

Please update field names

- `Subscriber ID`
+ Response 200

### Delete Campaign Subscribers [DELETE]

Please update field names

- `Subscriber ID`
+ Response 200

## Campaign Responses [/campaigns/responses/{guid}]
This will return the current metrics for a campaign.


+ Parameters
    + guid (string,required) ...

### View Campaign Responses [GET]

Please update field names

- `Date of response`
- `Type of response` (email, sms or USSD)
- `Consumer ID`
- `Response data` (this will include all fields captured for the subscriber

+ Response 200


# Group Programs

## Programs [/programs/{programID}]

+ Parameters
    + programID (string,required) ...

### Create a Program [POST]

Please update field names

- `Program ID`
- `Company ID`
- `Brand ID`
- `Name`
- `Description`
- `Start date & time`
- `End date & time (optional)`
- `Engagement channels`
- `SMS opt-out (optional)`
- `1Cadence field`
- `1Status (optional)`

+ Response  200 (application/json;charset=UTF-8)

### View a Program [GET]

Please update field names

- `Program ID`
- `Company ID`
- `Brand ID`
- `Name`
- `Description`
- `Start date & time`
- `End date & time (optional)`
- `Engagement channels`
- `SMS opt-out (optional)`
- `1Cadence field`
- `1Status (optional)`

+ Response  200 (application/json;charset=UTF-8)

    ```
        {
        "id": "xxx-xxxxx-xx-xx-x-x-xxxx-xxxx-xxx-x",
        "name": "Program name 1",
        "brand":{
                "name": "Baby Soft",
                 "id": "xxx-xxxxxxx-xx-xxxxx-xx"
                 },
        "activationchannels": ["SMS","EMAIL"],
        "creatorid": "3",
        "datecreated": "2",
        "datelaunched": "2",
        "startdate": "Monday 1 September",
        "enddate": "Friday 12 September",
        "keyfield":"Pregnancy Due Date",
        "frequency":"Weekly",
        "communications":"5",
        "description": "This is the programs description from the API Mock",
        "status": "live",
        "channels":{
        
            "sms":{
                "last30":"245",
                "total":"3000"
            },
            "email":{
                "last30":"70",
                "total":"300"}
        }
        }
        
    ```

### Delete a Program [DELETE]

Please update field names

- `Program ID`
- `Company ID`
- `Brand ID`
- `Name`
- `Description`
- `Start date & time`
- `End date & time (optional)`
- `Engagement channels`
- `SMS opt-out (optional)`
- `1Cadence field`
- `1Status (optional)`

+ Response  200

## Programs Messaging [/programs/message/{programID}]

+ Parameters
    + programID (string,required) ...

### Create Programs Message [POST]

Please update fields

- `Message ID`
- `Program ID`
- `Message number`
- `Condition`

+ Response 200

### View Programs Message [GET]

Please update fields

- `Message ID`
- `Program ID`
- `Message number`
- `Condition`

+ Response 200

### Delete Programs Message [DELETE]

Please update fields

- `Message ID`
- `Program ID`
- `Message number`
- `Condition`

+ Response 200




## Programs SMS [/programs/assets/sms/{messageID}]
This adds a SMS message to a program message

 + Parameters 
     + messageID (required, string) ... 

### Create Program Message [POST]

- `SMS Message`
+ Response 200

### View Program Message [GET]

- `SMS Message`
+ Response 200

### Delete Program Message [DELETE]

- `SMS Message`
+ Response 200




## Programs Email Assets [/programs/assets/email/{messageID}]
This adds email assets to a program message

 + Parameters 
     + messageID (required, string) ... 

### Create Program Email Assets [POST]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "email.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200

### View Program Email Assets [GET]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "email.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200

### Delete Program Email Assets [DELETE]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "email.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200




## Programs Unsubscribe [/programs/unsubscribe/{programID}]
This adds an unsubscribe email message to a program

 + Parameters 
     + programID (required, string) ... 

### Unsubscribe from Program Email[POST]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "unsubscribe.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200

### View Unsubscribe from Program Email [GET]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "unsubscribe.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200

### Delete Unsubscribe from Program Email [DELETE]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "unsubscribe.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200




## Programs Subscriber [/programs/subscriber/{programID}]
This will add or remove a single user to a program. A subscriber will only ever be added to a program once.

 + Parameters 
     + programID (required, string) ... 

### Subscribe from Program[POST]
- `Subscriber ID`
+ Response 200

### Delete Subscribe from Program [DELETE]
- `Subscriber ID`
+ Response 200





## Programs Subscribers [/programs/subscribers/{programID}]
This will add or remove multiple users to/from a program. A list of all currently assigned users may also be retrieved. A subscriber will only ever be added to a program once.

 + Parameters 
     + programID (required, string) ... 

### Create Program Subscribers[POST]
- `Subscriber ID`
+ Response 200

### View Program Subscribers[GET]
- `Subscriber ID`
+ Response 200

### Delete Program Subscribers[DELETE]
- `Subscriber ID`
+ Response 200




## Program Metrics [/programs/metrics/{programID}]

This will retrieve the overall metrics for a program
+ Parameters
    + programID (string,required) ...

### View Program Metrics[GET]

- `Total sent`
- `Total bounced`
- `Total unique opens`
- `Total clicks`
- `Total unique clicks`
- `Total modified`
- `Total unsubscribed`
- `Total delivered`
- `Percentage bounced`
- `Percentage delivered`
- `Percentage opened`
- `Percentage clicked`
- `Percentage clicked to open`
- `Percentage modified`
- `Percentage unsubscribed`
- `SMSs sent`
- `SMSs bounced`
- `SMSs unsubscribed`
- `SMSs percentage bounced`
- `SMSs percentage unsubscribed`
+ Response 200





## Program Message Metrics [/programs/metrics/message/{programID}]

This will retrieve the metrics for an indivIDual program message.
+ Parameters
    + programID (string,required) ...

### View Program Metrics[GET]
- `Total sent`
- `Total bounced`
- `Total unique opens`
- `Total clicks`
- `Total unique clicks`
- `Total modified`
- `Total unsubscribed`
- `Total delivered`
- `Percentage bounced`
- `Percentage delivered`
- `Percentage opened`
- `Percentage clicked`
- `Percentage clicked to open`
- `Percentage modified`
- `Percentage unsubscribed`
- `SMSs sent`
- `SMSs bounced`
- `SMSs unsubscribed`
- `SMSs percentage bounced`
- `SMSs percentage unsubscribed`

+ Response 200


## Programs [/programs/{programID}/communications/]
    
### View a Programs Communications [GET]
 
Please update field names
 
+ Response  200 (application/json;charset=UTF-8)
 
     ```
         {
             "communications": [
             {
                 "id": "xx-xxxd1",
                 "title": "Communication 1",
                 "channel": "SMS",
                 "description": "New description  for comms VoilaaH!!!"
             },
             {
                 "id": "2xx-xxxd1",
                 "title": "Communication 2",
                 "channel": "EMAIL",
                 "description": "Second description"
             }]
         }
     ``` 

## Program [/program/communication/{commsID}]
    
### View a Program Communication [GET]
 
Please update field names
 
+ Response  200 (application/json;charset=UTF-8)
 
     ```
         {
            "communication": 
            {
                "programid": "XXXX-X-Program-ID",
                "id": "xx-xxxd1",
                "title": "Communication 1",
                "description": "New description  for comms VoilaaH!!!",
                "time": "",
                "keyfield": "pregnancy due date",
                "when": "After",
                "times": 69,
                "frequency": "weeks",
                "type": 
                {
                    "sms": {},
                    "email": {
                        "title": "Titel",
                        "subjectline": "Subjecto",
                        "emailfrom": "info@kc.co.za",
                        "viewonlinelink": "View linko",
                        "unsubscribelink": "unsubscriboo",
                        "clickthroughurl": "clikcooo"
                    }
                }
            }
         }
     ``` 

# Group Consumer

## Consumer [/consumer/{guid}]

+ Model (application/hal+json)

    HAL+JSON representation of a basic Consumer in the database.

    + Body
    
        ```
        {
            "_links": {
                "self": {
                    "href": "/consumer/37a06561-dc91-48fc-a638-96ae97a4c8f3"
                },
                "fields": {
                    "array": [ "base", "title", "dob", "consumerTier", "maritalStatus", "..etc" ],
                    "description": "Other populated (or calculated) fields of meta-data that we have in the database about this particular consumer.\n\nTo GET this meta-data from the database, see the /consumer/{guid}/{fieldID} endpoint."
                }
            },
            "id": "37a06561-dc91-48fc-a638-96ae97a4c8f3",
            "firstname": "James",
            "lastname": "Johnson",
            "email": "james@example.com",
            "mobile": "323456789",
            "gender": "m",
            "age": "31",
            "last_active": "2014-04-16T09:12:00Z",
            "created_at": "2014-04-14T02:15:15Z",
            "status": true,
            "country": {
                "name": "South Africa",
                "code": "ZA",
                "dialcode": "27"
            },
            "language": {
                "name": "English",
                "code": "en"
            }
        }
        ```

### Create a Consumer [POST]

- `firstname` `*`
- `lastname` `*`
- `email` `**`
- `mobile` `**`
- `gender` (nullable)
- `age` (nullable)
- `last_active` (default: NOW())
- `country` (not required, has default: See API Response)
- `language` (not required, has default: See API Response)

`*` Required
`**` _Either or both_ `email` or `mobile` is required. Both cannot be blank.

+ Request (application/json)

    ```
    {
        "firstname": "James",
        "lastname": "Johnson",
        "email": "james@example.com",
        "mobile": "323456789",
        "gender": "m",
        "age": "31"
    }
    ```

+ Response 200

    [Consumer][]

### View a Consumer [GET]

Get a basic view of any specific Consumer.

+ Parameters 
    + guid (required, string, `37a06561-dc91-48fc-a638-96ae97a4c8f3`) ... The Consumer GUID

+ Response 200

    [Consumer][]

### Deactivate a Consumer [DELETE]

Get a basic view of any specific Consumer.

+ Parameters 
    + guid (required, string, `37a06561-dc91-48fc-a638-96ae97a4c8f3`) ... The Consumer GUID

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "message": "Consumer has been deactivated.",
        "user": {
            "firstname": "James",
            "lastname": "Johnson"
        }
    }
    ```





## Consumer Engagement Campaigns [/consumer/engagement/campaigns/{guid}]
 + Parameters
     + guid (required, string) ...

### Create a Consumer engagement Campaign [POST]
- `Campaign ID`
- `Date of engagement`
- `Unsubscribed`

+ Response 200

### View a Consumer engagement Campaign [GET]
- `Campaign ID`
- `Date of engagement`
- `Unsubscribed`

+ Response 200

### Delete a Consumer engagement Campaign [DELETE]
- `Campaign ID`
- `Date of engagement`
- `Unsubscribed`

+ Response 200




## Consumer Fields [/consumer/{guid}/{fieldID}]
Allows you to add, read or delete any meta data for a single consumer specified by fieldname
 + Parameters
     + guid (required, string) ...

### Create a Consumer field [POST]
- `Consumer ID`
- `Field value`

+ Response 200

### View a Consumer field [GET]
- `Consumer ID`
- `Field value`

+ Response 200

### Delete a Consumer field [DELETE]
- `Consumer ID`
- `Field value`

+ Response 200


# Group Consumers

## Consumers Company List [/consumers/company/{guid}]

### View Consumers By Company [GET]

+ Parameters
     + guid (string, required, `a53e98e4-0197-4513-be6d-49836e406aaa`) ... The Company GUID

+ Response 200





## Consumers Brand List [/consumers/brand/{guid}]

+ Parameters
    + guid (string, required, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The Brand GUID

### View Consumers By Brand [GET]

- `Consumer Id`
- `First name`
- `Last name`
- `Email address`
- `Mobile`
- `Gender`
- `Title`
- `Date of birth`
- `Last active`
- `Country code`
- `Language code`
- `All existing consumer meta data`

+ Response 200




## Consumers Campaign List [/consumers/campaign/{guid}]

+ Parameters
    + guid (string, required) ... The Campaign GUID

### View Consumers By Campaign [GET]

- `Consumer Id`
- `First name`
- `Last name`
- `Email address`
- `Mobile`
- `Gender`
- `Title`
- `Date of birth`
- `Last active`
- `Country code`
- `Language code`
- `All existing consumer meta data`

+ Response 200




## Consumers Program List [/consumers/program/{programId}]

+ Parameters
    + programId (string, required) ...

### View Consumers By Program [GET]

- `Consumer Id`
- `First name`
- `Last name`
- `Email address`
- `Mobile`
- `Gender`
- `Title`
- `Date of birth`
- `Last active`
- `Country code`
- `Language code`
- `All existing consumer meta data`

+ Response 200


# Group Metrics

## Consumers Brand Metrics [/metrics/consumers/brand/{brandId}]

**WIP**

+ Parameters
    + brandId (string, required) ...
    
### View Consumers Metrics by Brand[GET]
Please update field names

+ Response 200 (application/json;charset=UTF-8)

    ```
        {
        "brand": {
        "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
        "name": "Baby Soft",
        "consumers": 987,
        "incompleteconsumers": 34,
        "activecampaigns": 4,
        "pendingcampaigns": 3,
        "completecampaigns": 2,
        "activeprograms": 4,
        "pendingprograms": 3,
        "completeprograms": 2,

        "genders": {
                "female": 23,
                "unknown": 45,
                "male": 15
                },
        "ages": {
                "1624": 23,
                "2534": 45,
                "3544": 15,
                "45": 10,
                "unknown": 7
                },
        "locations": {
                "limpopo": 23,
                "mpumalanga": 20,
                "gauteng": 7,
                "westerncape": 13,
                "northerncape": 17, 
                "easterncape": 15,
                "kwazulunatal": 5,
                "freestate": 18,
                "northwest": 24,
                "unknown": 3
                },
        "status": { 
                "marriedcouples": 23,
                "marriedwithkids": 20, 
                "single": 7, 
                "singleparent": 13,
                "pregnant": 17, 
                "unknown": 15
                },
        "activationchannel": {
                "email": 63,
                "sms": 37
                },
        "responsechannel": {
                "email": 50,
                "sms": 63
                },
        "activity": {
                "growth": 2.3,
                "active": 20.9,
                "inactive": 0.7,
                "new": 630,
                "dupes": 17,
                "unsubs": 5
                },
        "tiers": {
                 "A": 9, "B": 22,
                  "C": 56,
                  "undefined": 13
                }
            }
        }
    ```
    




## Campaign Brand [/metrics/campaigns/brand/{brandguid}]

**WIP**


### View campaigns by brands [GET]
Please update field names


+ Response 200 (application/json;charset=UTF-8)

    ```
        {
       "campaigns": [
            {
                "brandid": "469bbea6-2532-4bf1-84b2-af656da10325",
                "userid": "",
                "id": "xxxxx-1",
                "name": "Campaign 1",
                "description": "This is the description of this campaign from the test API whoo",
                "activationchannels": ["SMS","EMAIL"],
                "engagementchannels": ["WEBFORM", "SMS SHORTCODE"],
                "launchbase": "987",
                "openrate": "68",
                "responserate": "51",
                "smssent": "289",
                "smsdelivered": "261",
                "emailsent": "698",
                "emaildelivered": "681",
                "compentries": "35",
                "startdate": "Friday 26 September",
                "enddate": "Thursday 2 October",
                "status": "live"
            },            
            {
                "brandid": "469bbea6-2532-4bf1-84b2-af656da10325",
                "userid": "",
                "id": "xxxxx-2",
                "name": "Campaign number 2",
                "description": "This is the description campaign number 2 from the test API whoo",
                "activationchannels": ["EMAIL"],
                "engagementchannels": ["WEBFORM"],
                "launchbase": "43532",
                "openrate": "60",
                "responserate": "90",
                "smssent": "0",
                "smsdelivered": "0",
                "emailsent": "40000",
                "emaildelivered": "39999",
                "compentries": "14245",
                "startdate": "Friday 3 October",
                "enddate": "Monday 6 October",
                "status": "live"
            },
            {
                "brandid": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                "userid": "",
                "id": "xxxx-3",
                "name": "YOLO campaign",
                "description": "This is the description for the YOLO campaign from the test API whoo",
                "activationchannels": ["SMS"],
                "engagementchannels": ["SMS SHORTCODE"],
                "launchbase": "232",
                "openrate": "47",
                "responserate": "67",
                "smssent": "232",
                "smsdelivered": "224",
                "emailsent": "0",
                "emaildelivered": "0",
                "compentries": "32",
                "startdate": "Friday 10 October",
                "enddate": "Friday 17 October",
                "status": "live"
            },
            {
                "brandid": "40c03869-6424-4fab-b56a-797eb603e7fa",
                "userid": "",
                "id": "xxxx-3",
                "name": "Thursday Whopper",
                "description": "This is the description for the Thursday Whopper campaign from the test API",
                "activationchannels": ["SMS", "EMAIL"],
                "engagementchannels": ["WEBFORM"],
                "launchbase": "2356",
                "openrate": "90",
                "responserate": "81",
                "smssent": "934",
                "smsdelivered": "224",
                "emailsent": "1198",
                "emaildelivered": "1159",
                "compentries": "2210",
                "startdate": "Monday 20 October",
                "enddate": "Thursday 23 October",
                "status": "inactive"
            }]
        }
    ```


## Program Brand [/metrics/programs/brand/{brandguid}]

**WIP**


### View Programs Metrics by brand [GET]
Please update field names


+ Response 200 (application/json;charset=UTF-8)

    ```
        {
       "programs": [
            {
                "brandid": "469bbea6-2532-4bf1-84b2-af656da10325",
                "userid": "",
                "id": "xxxxx-1",
                "name": "Program number 1",
                "status":"live",
                "description": "Another description",
                "keyfield": "Divorce",
                "requiresoptin": "yes",
                "rounds": "13",
                "frequency": "Monthly",
                "channels":["sms","email"]
            },            
            {
                "brandid": "469bbea6-2532-4bf1-84b2-af656da10325",
                "userid": "",
                "id": "xxxxx-2",
                "name": "Programme 2",
                "status":"live",
                "description": "New description for testing",
                "keyfield": "Death",
                "requiresoptin": "yes",
                "rounds": "14",
                "frequency": "Weekly",
                "channels":["sms"]
            },
            {
                "brandid": "469bbea6-2532-4bf1-84b2-af656da10325",
                "userid": "",
                "id": "xxxx-3",
                "name": "Program 3",
                "status":"inactive",
                "description": "Proper new description",
                "keyfield": "Select a field",
                "requiresoptin": "yes",
                "rounds": "21",
                "frequency": "Daily",
                "channels":["email"]
            }]
        }
    ```
    


