FORMAT: 1A
HOST: http://www.google.com

# KC Direct Messaging Platform

This document describes the API for Kimberly-Clark's *Direct Messaging Platform*.

## Media Types

Where applicable this API uses the [HAL+JSON](https://github.com/mikekelly/hal_specification/blob/master/hal_specification.md) media-type to represent resources, states and affordances.

## Response

The common [HTTP Code System](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) should be used as response codes for requests.

## Account Types

Please see the Account Types document on the Github repo, [here](http://goo.gl/gVFTsJ).

## Notes

- **F+T created the response objects, please adjust as needed.**
- All IDs (user, company, consumer, brand, etc) will be GUIDs to prevent ID spoofing.
- **DELETE** functions should not remove data they should **date-flag** an item as deleted so as not to skew metrics and to keep an audit trail.

- Most requests will need to have a security token in the request header called "Authorization"
- This security token is created and returned when requesting a login an will be used extensively throughout.


----



# Group Auth

**CodeCafé needs to drive this.** Here's what they've given us so far.

## User Authentication [/account]
### Sign In [POST]

Attempt to log the user into the system.

This resource has the following request parameters:

- `username` Registered email address
- `password` DMP Password


+ Request (application/json;charset=UTF-8)

    ```
    {
        "username": "john@example.com",
        "password": "YourPassword"
    }
    ```

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "user": {
            "id": "25892e17-80f6-415f-9c65-7395632f0223",
            "firstname": "John",
            "lastname": "Smith",
            "email": "john@flintntinder.com",
            "mobile": "123456789",
            "title": "Tea guy",
            "role": "admin",
            "photo_url": "images\/avatars\/john.jpg",
            "brands": [
                {
                    "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                    "name": "Huggies"
                },
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                }
            ]
            
        },
        "securitytoken" : "F19706EF-DF60-4D7A-A295-F25D4CC4A688",
        "encrypted_password" : "SjETpA5U7Cscv65tDu82zLqPc65dak5tdXQ5dsB4/bU="
    }
    ```

+ Response 401

## User Authentication [/account/signout/{UserID}]

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID
    
### Sign Out [POST]

**This end-point was not supplied in the original CodeCafé document, but is required.**

This resource has the user's id as a parameter, and will delete the current user session and sign the user out of the platform.

The login token will expire.

It should return 200 if a user session exists, 401 otherwise.

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "next": {
                "href": "/"
            }
        },
        "status": "success"
    }
    ```

+ Response 401


## Account Creation [/account/save]
### Create a new account [POST]

Attempt to create a new account for a user

This resource has the following request parameters:

- `userid` The user guid. The account will be created for this user.
- `role` The role id of this account
- `company` The company guid. Which company this account will be for.
- `active` "1" or "0". Defaults to active
- `brands` (array of strings) Which brands this account will have access to


+ Request (application/json;charset=UTF-8)

    ```
    {
       "userid": '0248b1e7-da23-4319-bfa3-d1ea4be47786',
        "role": "3",
        "company": "516A1A7A-2C2G-3A0A-A55A-71A09643E94B1",
        "active": "1",
        "brands": [
            {
                    "id": "e33898de-6302-4756-8f0c-5f6c5218e02e",
                    "name": "Huggies"
            }
        ]
            
    }
    ```

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "user": {
            "id": "25892e17-80f6-415f-9c65-7395632f0223",
            "firstname": "John",
            "lastname": "Smith",
            "email": "john@flintntinder.com",
            "mobile": "123456789",
            "title": "Tea guy",
            "role": "admin",
            "photo_url": "images\/avatars\/john.jpg",
            "brands": [
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Huggies"
                },
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                }
            ]
            
        }
    }
    ```

+ Response 401


## Account Edit [/account/save/{UserID}]

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID
    
### Edit an existing account [POST]


Attempt to edit an existing account for a user

This resource has the following request parameters:

- `userid` The user guid. The account will be created for this user.
- `role` The role id of this account
- `company` The company guid. Which company this account will be for.
- `active` "1" or "0". Defaults to active
- `brands` (array of strings) Which brands this account will have access to


+ Request (application/json;charset=UTF-8)

    ```
    {
       "userid": '0248b1e7-da23-4319-bfa3-d1ea4be47786',
        "role": "3",
        "company": "516A1A7A-2C2G-3A0A-A55A-71A09643E94B1",
        "active": "1",
        "brands": [
            {
                    "id": "e33898de-6302-4756-8f0c-5f6c5218e02e",
                    "name": "Huggies"
            }
        ]
            
    }
    ```

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "user": {
            "id": "25892e17-80f6-415f-9c65-7395632f0223",
            "firstname": "John",
            "lastname": "Smith",
            "email": "john@flintntinder.com",
            "mobile": "123456789",
            "title": "Tea guy",
            "role": "admin",
            "photo_url": "images\/avatars\/john.jpg",
            "brands": [
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Huggies"
                },
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                }
            ]
            
        }
    }
    ```

+ Response 401


## Account Password [/account/password/{UserID}]

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID

### Reset Password [POST]

This will generate a single use password change token. The token should ideally be sent directly to
the user as part of a confirmation link.

This should *not* deactivate the account or the current password, and the token should be cleared if the user signs in successfully with the current password.

+ Response 200



## Account Password [/account/password/change/]
### Change Account Password  [POST]
    
This will change an account's password if the token is a match.

The Token is sent to the user via email, and will probably be a `GET` variable on the 'change password' page.

- `Token`
- `New Password`

+ Request

    ```
    {
        "token": "TheToken",
        "password": "NewPassword"
    }
    ```

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "next": {
                "href": "/"
            }
        },
        "status": "success",
        "message": "Password successfully changed. You can now sign in with your new password."
    }
    ```

# Group User Functionality

Users are **not** Consumers; Users can log into the platform to manage and update the platform.

## User List [/users/]

### Get a list of all platform users [GET]

+ Response 200 (application/json;charset=UTF-8)

    ```
    {
        "users": [{
            "id": "25892e17-80f6-415f-9c65-7395632f0224",
            "firstname": "Casper",
            "lastname": "Odendaal",
            "email": "casper@flintntinder.com",
            "mobile": "123456789",
            "title": "Web Designer",
            "role": "super",
            "photo_url": "images\/avatars\/casper.jpg",
            "brands": [
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                },
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Huggies"
                }
            ]
            
            
        }, {
            "id": "25892e17-80f6-415f-9c65-7395632f0223",
            "firstname": "John",
            "lastname": "Smith",
            "email": "john@flintntinder.com",
            "mobile": "123456789",
            "title": "Tea guy",
            "role": "admin",
            "photo_url": "images\/avatars\/john.jpg",
            "brands": [
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Huggies"
                },
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                }
            ]
            
        }, {
            "id": "25892e17-80f6-415f-9c65-7395632f0225",
            "firstname": "Emmanuel",
            "lastname": "Matsiyana",
            "email": "emmanuel@flintntinder.com",
            "mobile": "123456789",
            "title": "Web Designer",
            "role": "admin",
            "photo_url": "images\/avatars\/emmanuel.jpg",
            "brands": [
                {
                    "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                    "name": "Huggies"
                },
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Baby Soft"
                }
            ]
        }, {
            "id": "25892e17-80f6-415f-9c65-7395632f0226",
            "firstname": "Willem",
            "lastname": "Labu",
            "email": "willem@flintntinder.com",
            "mobile": "123456789",
            "title": "TD",
            "role": "company",
            "photo_url": "images\/avatars\/willem.jpg",
            "brands": [
                {
                    "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                    "name": "Baby Soft"
                }
            ]
        }, {
            "id": "25892e17-80f6-415f-9c65-7395632f0227",
            "firstname": "Lianie",
            "lastname": "Potgieter",
            "email": "lianie@flintntinder.com",
            "mobile": "123456789",
            "title": "Art Director",
            "role": "brand",
            "photo_url": "images\/avatars\/lianie.jpg",
            "brands": [
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Baby Soft"
                },
                {
                    "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                    "name": "Huggies"
                }
            ]
            
            
            
        }, {
            "id": "25892e17-80f6-415f-9c65-7395632f0228",
            "firstname": "Nimay",
            "lastname": "Parekh",
            "email": "nimay@flintntinder.com",
            "mobile": "123456789",
            "title": "MD",
            "role": "basic",
            "photo_url": "images\/avatars\/nimay.jpg",
            
            "brands": [
                {
                    "id": "469bbea6-2532-4bf1-84b2-af656da10325",
                    "name": "Kotex"
                }
            ]
        }
        
        ]
    }
    ```

## User [/user/]

+ Model (application/hal+json;charset=UTF-8)

    HAL+JSON representation of the User in the database.

    + Body
    
        ```
        {
            "_links": {
                "self": {
                    "href": "/user/25892e17-80f6-415f-9c65-7395632f0223"
                }
            },
            "id": "25892e17-80f6-415f-9c65-7395632f0223",
            "firstname": "John",
            "lastname": "Smith",
            "email": "john@flintntinder.com",
            "mobile": "123456789",
            "title": "Tea guy",
            "role": "admin",
            "photo_url": "images\/avatars\/john.jpg",
            
            "country": {
                "name": "South Africa",
                "code": "ZA",
                "dialcode": "27"
            },
            "language": {
                "name": "English",
                "code": "en"
            },
            "created_at": "2014-04-14T02:15:15Z",
            "last_active": "2014-04-14T02:15:15Z",
            
        }
        ```
        
### Create a User [POST]

This is an administrative function.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to create new users, and only for account types lower in heirarchy than themselves.

401 should be returned if an attempt is made to create a user by an unauthorized account.

This end-point requires the following parameters to be sent:

- `firstname` (string)
- `lastname` (string)
- `Display Name` (string)
- `email` (string)
- `mobile` (string)
- `photo url` (string)
- `country` (object of strings)
- `language` (object of strings)

+ Request (application/json;charset=UTF-8)

    ```
    {
        "firstname": "John",
        "lastname": "Smith",
        "display_name": "John Smith",
        "email": "john@example.com",
        "mobile": "123456789",
        "photo_url": "https:\/\/example.com\/john.jpg",
        "country": {
            "name": "South Africa",
            "code": "ZA",
            "dialcode": "27"
        },
        "language": {
            "name": "English",
            "code": "en"
        },
       
    }
    ```

+ Response 200

    [User][]

+ Response 401


## User [/user/{UserID}]

### Save a User [POST]

This is an administrative function.

This is for updating an existing user.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to create new users, and only for account types lower in heirarchy than themselves.

401 should be returned if an attempt is made to create a user by an unauthorized account.

This end-point requires the following parameters to be sent:

- `firstname` (string)
- `lastname` (string)
- `Display Name` (string)
- `email` (string)
- `mobile` (string)
- `photo url` (string)
- `country` (object of strings)
- `language` (object of strings)

+ Request (application/json;charset=UTF-8)

    ```
    {
        "firstname": "John",
        "lastname": "Smith",
        "display_name": "John Smith",
        "email": "john@example.com",
        "mobile": "123456789",
        "photo_url": "https:\/\/example.com\/john.jpg",
        "country": {
            "name": "South Africa",
            "code": "ZA",
            "dialcode": "27"
        },
        "language": {
            "name": "English",
            "code": "en"
        },
       
    }
    ```

+ Response 200

    [User][]

+ Response 401


### View a User [GET]

This is an administrative function.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to view users, and only for account types lower in heirarchy than themselves.

Get a specific User's details.

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID

+ Response 200

    [User][]

## User [/user/delete/{UserID}]

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID
    
### Remove a User [POST]

This is an administrative function.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to remove users, and only for account types lower in heirarchy than themselves.

Deactivate a specific user.


+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "message": "User has been deactivated.",
        "user": {
            "firstname": "John",
            "lastname": "Smith",
            "display_name": "John Smith",
            "photo_url": "https:\/\/example.com\/john.jpg"
        }
    }
    ```

## User Metrics [/user/metrics/{UserID}]

**NOTE [WL]**

Not sure what metrics we'll need to capture per User. Need some more information here, please clarify.

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID

### Show User Metrics [GET]

+ Response 200

# Group Messaging

## Send Message [/user/message/{UserID}]
+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID

### Send a message [POST]

Send a message to a user.

- `title`
- `content`

+ Request

    ```
    {
        "title": "Message title",
        "content": "Message content to send to the selected user."
    }
    ```

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "message": "Your message was sent."
    }
    ```




## Get Message [/user/{UserID}/messages{?id}{&page}]

Get all or one specific message that has been sent to a User.

**We need to work out paging** - the below is probably not correct.

+ Parameters 
    + UserID (required, string, `25892e17-80f6-415f-9c65-7395632f0223`) ... User's GUID
    + id (optional, string, `11cdd494-de5b-460e-9ddf-4e84bad6f596`) ... Message's GUID
    + page (optional, string, `1`) ... Page number

### Get Messages [GET]

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "self": {
                "href": "/user/{UserID}/messages?MessageID={MessageID}"
            },
            "next": {
                "href": "/user/{UserID}/messages?MessageID={NextMessageID}"
            },
            "previous": {
                "href": "/user/{UserID}/messages?MessageID={PreviousMessageID}"
            }
        },
        "_paging": {
            "next": {
                "href": "/user/{UserID}/messages?page={page+1}"
            },
            "previous": {
                "href": "/user/{UserID}/messages?page={page-1}"
            }
        },
        "messages": [
            {
                "author": {
                    "id": "deb17e15-d47c-449f-b1b0-4d55247d153f",
                    "display_name": "Jane Doe",
                    "photo_url": "https:\/\/example.com\/jane.jpg"
                },
                "title": "Message title",
                "content": "Message content that was sent to user.",
                "sent": "2014-04-14T02:15:15Z",
                "opened": "2014-04-14T02:20:15Z",
                "deleted": false
            }
        ],
        "total": 1,
        "current_page": 1,
        "total_pages": 1
    }
    ```


# Group Company

## Company [/company]

+ Model (application/hal+json)

    HAL+JSON representation of the Company in the database.

    + Body
    
        ```
        {
            "_links": {
                "self": {
                    "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
                }
            },
            "id": "a53e98e4-0197-4513-be6d-49836e406aaa",
            "name": "Kimberly-Clark",
            "photo_url": "https:\/\/example.com\/kc.jpg",
            "created_at": "2014-04-14T02:15:15Z",
            "brands": [
                {
                    "id": "e33898de-6302-4756-8f0c-5f6c5218e02e",
                    "name": "First Brand"
                },
                {
                    "id": "8c3df7e7-bae8-4772-bb49-9629254f6198",
                    "name": "Second Brand"
                }
            ],
            "active": true
        }
        ```

### Create a Company [POST]

This is an administrative function.

Only [Super Adminstrators](http://goo.gl/gVFTsJ) should be able to create new Companies.

- `Name` (string)
- `Photo Url` (string)

+ Request

    ```
    {
        "name": "New Company Name",
        "photo_url" : ""
    }
    ```

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "self": {
                "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
            },
            "next": {
                "href": "/brand/create"
            }
        },
        "status": "success",
        "message": "New Company Name has been created. You can now add a brand to it!",
        "company": {
            "id": "a53e98e4-0197-4513-be6d-49836e406aaa"
            "name": "New Company Name"
        }
    }
    ```

## Company [/company/{guid}]

### Save Company [POST]

This is an administrative function.

Only [Super Adminstrators](http://goo.gl/gVFTsJ) should be able to create new Companies.

- `Name` (string)
- `Photo Url` (string)

+ Request

    ```
    {
        "name": "Updated Company Name",
        "photo_url" : ""
    }
    ```

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "self": {
                "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
            },
            "next": {
                "href": "/brand/create"
            }
        },
        "status": "success",
        "message": "Updated Company Name has been updated!",
        "company": {
            "id": "a53e98e4-0197-4513-be6d-49836e406aaa"
            "name": "New Company Name"
        }
    }
    ```

### View a Company [GET]

Get the properties of a certain company.

+ Parameters 
    + guid (required, string, `a53e98e4-0197-4513-be6d-49836e406aaa`) ... The Company GUID

+ Response 200
[Company][]


## Company [/company/delete/{guid}]

### Delete Company [POST]

This is an administrative task.

Only [Super Adminstrators](http://goo.gl/gVFTsJ) accounts should be able to delete a company.

Sets the Company `active` flag to `false`.

+ Parameters 
    + guid (required, string, `a53e98e4-0197-4513-be6d-49836e406aaa`) ... The Company GUID

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "message": "The Company has been deactivated."
    }
    ```

## Company List [/company/]

### Get a list of all active companies [GET]

+ Response 200 (application/json;charset=UTF-8)

    ```
    {
      [
  {
    "_link":{
      "self":{
        "href":"/company/516A1A7A-2C2G-3A0A-A55A-71A09643E94B1"
      }
    },
    "active":true,
    "brands":[
      {
        "id":"Test Brand Id",
        "name":"Test Brand Name"
      },
      {
        "id":"Test Brand Id 2",
        "name":"Test Brand Name 2"
      }
    ],
    "created_at":"2014-09-26 01:30:18 PM",
    "id":"516A1A7A-2C2G-3A0A-A55A-71A09643E94B1",
    "name":"This is a test company!",
    "photo_url":""
  },
  {
    "_link":{
      "self":{
        "href":"/company/BC7D47AB-5244-432E-A0C8-F5D7E0245CA6"
      }
    },
    "active":true,
    "brands":[
      {
        "id":"Test Brand Id",
        "name":"Test Brand Name"
      },
      {
        "id":"Test Brand Id 2",
        "name":"Test Brand Name 2"
      }
    ],
    "created_at":"2014-09-29 12:14:44 PM",
    "id":"BC7D47AB-5244-432E-A0C8-F5D7E0245CA6",
    "name":"Code Cafe",
    "photo_url":""
  }
]
    }
    ```


## Company Metrics [/company/{guid}/metrics/]

**WIP**

+ Model (application/hal+json)

    HAL+JSON representation of the Company + it's metrics in the database.

    + Body
    
        ```
        {
            "_links": {
                "self": {
                    "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
                }
            },
            "id": "a53e98e4-0197-4513-be6d-49836e406aaa",
            "name": "Kimberly-Clark",
            "photo_url": "https:\/\/example.com\/kc.jpg",
            "created_at": "2014-04-14T02:15:15Z",
            "brands": [
                {
                    "id": "e33898de-6302-4756-8f0c-5f6c5218e02e",
                    "name": "First Brand",
                    "users": 3,
                    "subscribers": 12879,
                    "campaigns": 23,
                    "programs": 7
                },
                {
                    "id": "8c3df7e7-bae8-4772-bb49-9629254f6198",
                    "name": "Second Brand",
                    "users": 5,
                    "subscribers": 483628,
                    "campaigns": 75,
                    "programs": 15
                }
            ],
            "active": true
        }
        ```

### View Company Metrics [GET]

- `Company ID`
- `Name`
- `Number of brands`
- `Number of users`
- `Number of subscribers`
- `Number of active campaigns`
- `Number of active programs`

+ Parameters 
    + guid (required, string, `a53e98e4-0197-4513-be6d-49836e406aaa`) ... The Company GUID

+ Response 200

    [Company Metrics][]

# Group Brand

## Brand [/brand/]

+ Model (application/hal+json)

    HAL+JSON representation of a Brand in the database.

    + Body
    
        ```
        {
            "_links": {
                "self": {
                    "href": "/brand/e33898de-6302-4756-8f0c-5f6c5218e02e"
                }
            },
            "id": "e33898de-6302-4756-8f0c-5f6c5218e02e",
            "name": "Huggies",
            "photo_url": "https:\/\/example.com\/huggies.jpg",
            "created_at": "2014-04-14T02:15:15Z",
            "companies": [
                {
                    "id": "a53e98e4-0197-4513-be6d-49836e406aaa",
                    "name": "Kimberly-Clark"
                }
            ],
            "active": true
        }
        ```

### Create Brand [POST]

This is an administrative task.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to create a new brand, and assign it to a company.

Furthermore, *company* accounts should only be able to create brands for their own company.

- `Name` (string)
- `Photo Url` (string)

+ Request

    ```
    {
        "name": "New Brand Name",
        "photo_url": ""
    }
    ```

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "self": {
                "href": "/brand/e33898de-6302-4756-8f0c-5f6c5218e02e"
            },
            "campaign": {
                "href": "/campaigns/create"
            },
            "program": {
                "href": "/programs/create"
            },
            "company": {
                "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
            }
        },
        "status": "success",
        "message": "{New Brand Name} has been created. You can now add create campaigns or programs for it!",
        "brand": {
            "id": "e33898de-6302-4756-8f0c-5f6c5218e02e"
            "name": "New Brand Name"
        }
    }
    ```

## Brand [/brand/{guid}]

### Save Brand [POST]

This is an administrative task.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to save a new brand, and assign it to a company.

Furthermore, *company* accounts should only be able to save brands for their own company.

- `Name` (string)
- `Photo Url` (string)

+ Request

    ```
    {
        "name": "New Brand Name",
        "photo_url": ""
    }
    ```

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "self": {
                "href": "/brand/e33898de-6302-4756-8f0c-5f6c5218e02e"
            },
            "campaign": {
                "href": "/campaigns/create"
            },
            "program": {
                "href": "/programs/create"
            },
            "company": {
                "href": "/company/a53e98e4-0197-4513-be6d-49836e406aaa"
            }
        },
        "status": "success",
        "message": "{New Brand Name} has been created. You can now add create campaigns or programs for it!",
        "brand": {
            "id": "e33898de-6302-4756-8f0c-5f6c5218e02e"
            "name": "New Brand Name"
        }
    }
    ```

## Brand [/brand]
### List Brand [GET]

Gets a list of all available brands, returning the id (guid) and the name.


+ Response 200 (application/hal+json)

    ```
    {[
        {
            "_link":{
                "self":{
                "href":"/brand/469bbea6-2532-4bf1-84b2-af656da10325"
                }
            },
            "id":"469bbea6-2532-4bf1-84b2-af656da10325",
            "name":"Kotex",
        },
        
        {
            "_link":{
                "self":{
                "href":"/brand/9E12A814-D283-4050-BA74-8549701E5B12"
                }
            },
            "id":"9E12A814-D283-4050-BA74-8549701E5B12",
            "name":"Nike Updated",

        }
    ]}
    ```

## Brand [/brand/{guid}/]
### View Brand [GET]


Get the properties of a certain brand.

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The Brand GUID

+ Response 200

    [Brand][]


## Brand [/brand/delete/{guid}]

### Delete Brand [POST]

This is an administrative task.

Only [account types](http://goo.gl/gVFTsJ) [1, 2, 3] should be able to delete a brand.

Sets the Brand `active` flag to `false`.

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The Company GUID

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "message": "The Brand has been deactivated."
    }
    ```


# Group Campaigns

## Campaign [/campaign/]

### Create Campaign [POST]

+ Request (application/json)
    
    ```
        {
        "name":"",
        "brand_id":"",
        "userid":""
        }
    ```

+ Response 200 (application/json)

    ```
        {
        "id":"xxxx-xxxxx-xxxx-xxxxx-01"
        }
    ```

## Campaign [/campaign/{guid}]
### Edit Campaign [POST]



Please update field names


- `Brand ID`
- `Name`
- `Description`
- `Start date & time`
- `End date & time` (optional)
- `Activation channels`
- `Engagement channels`
- `SMS message` (optional)
- `SMS response message` (optional)
- `SMS opt-out` (optional)
- `Email Subject line` (optional)
- `View online text` (optional)
- `Unsubscribe text` (optional)
- `Status` (optional)


+ Request (application/json)

        {
                        "brand_id": "XXXX-XXX-XXXXXX-01",
                        "name": "My new campaign",
                        "description": "The campaign description was entered here",
                        "startdate": "",
                        "enddate": "",
                        "status": "1",
                        "campaign_type": "3",
                        "activationchannels": {
                            "sms": {
                                "active": true,
                                "activationmessage": "Please come back to us",
                                "deploymentdate": ""
                            },
                            "email": {
                                "active": false,
                                "title": "the Title we have",
                                "subjectline": "the Subject line we have",
                                "emailfrom": "info@kc.co.za",
                                "emailreplyto": "info-reply@kc.co.za",
                                "viewonlinetitle": "Lets view this online here",
                                "unsubscribelink": "http://www.undone.com/",
                                "zipfilename": "",
                                "deploymentdate": "",
                                "clickthroughurl": "http://clicker.com"
                            }
                        },
                        "engagementchannels": {
                            "smsshortcode": {
                                "active": true,
                                "shortcode": "34761",
                                "keyword": "Happy",
                                "responsemessage": "The SMS short code response message goes here",
                                "capturefield": [{
                                    "name": "firstname",
                                    "title": "First name",
                                    "type": "String (text up to 500 characters )"
                                }]
                            },
                            "webform": {
                                "active": true,
                                "capturefields": [{
                                    "name": "firstname",
                                    "title": "First name",
                                    "type": "String (text up to 500 characters )"
                                }, {
                                    "name": "lastname",
                                    "title": "Last name",
                                    "type": "String (text up to 500 characters )"
                                }, {
                                    "name": "email",
                                    "title": "Email",
                                    "type": "String (text up to 500 characters )"
                                }, {
                                    "name": "field2",
                                    "title": "Field 2",
                                    "type": "Integer (whole number)"
                                }, {
                                    "name": "field3",
                                    "title": "Field 3",
                                    "type": "String (text up to 500 characters )"
                                }, {
                                    "name": "field4",
                                    "title": "Field 4",
                                    "type": "Boolean (true/false)"
                                },
                                {
                                    "is_default":false,
                                    "name":"customfield12",
                                    "title":"Custom Field",
                                    "type":"String"
                                }],
                                "captureurl": "http://www.urldotcom.com?feild1=field1"
                            }
                        }
                    }
    


+ Response 200

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The campaign GUID
    
### View Campaign [GET]

Please update field names

- `Total sent`
- `Total bounced`
- `Total unique opens`
- `Total clicks`
- `Total unique clicks`
- `Total modified`
- `Total unsubscribed`
- `Total delivered`
- `Percentage bounced`
- `Percentage delivered`
- `Percentage opened`
- `Percentage clicked`
- `Percentage clicked to open`
- `Percentage modified`
- `Percentage unsubscribed`
- `SMSs sent`
- `SMSs bounced`
- `SMSs unsubscribed`
- `SMSs percentage bounced`
- `SMSs percentage unsubscribed`

+ Response 200 (application/json;charset=UTF-8)

    ```
        {
            "id": "xxx-xxxxx-xx-xx-x-x-xxxx-xxxx-xxx-x",
            "name": "Campaign Name 1",
            "brandname": "Baby Soft",
            "brandid": "xxx-xxxxxxx-xx-xxxxx-xx",
            "user_id": "25892e17-80f6-415f-9c65-7395632f0223",
            "description": "This is the campaign description from the API Mock",  
            "activationchannels": ["SMS","EMAIL"],
            "engagementchannels": ["WEBFORM"],
            
            "launchbase": "987",
            "webformresponses": "35",
            
            "emailsent": "698",
            "emaildelivered": "680",
            "emailbounced": "18",
            "emailopenrate": "27",
            "emailopened": "136",
            "emailhasCTA": "1",
            "emailclicks": "25",
            "emailtotalclicks": "34",

            "smssent": "289",
            "smsdelivered": "261",
            "shortcoderesponses": "104",

            "datecreated": "2",
            "datelaunched": "2",
            "startdate": "Monday 1 September",
            "enddate": "Friday 12 September",

            "mode": "LIVE",

            "genders": [
                {
                    "name": "female",
                    "value": 2
                },
                {
                    "name": "unknown",
                    "value": 0
                },
                {
                    "name": "male",
                    "value": 2
                }
                ],
            "ages": [
                {
                    "name": "unknown",
                    "value": 0
                },
                {
                    "name": "sixteen_twentyfour",
                    "value": 0
                },
                {
                    "name": "twentyfive_thirtyfour",
                    "value": 4
                },
                {
                    "name": "thirtyfive_fortyfour",
                    "value": 0
                },
                {
                    "name": "fortyfive_plus",
                    "value": 0
                }
                ],
            "provinces": [
                {
                    "name": "Eastern Cape",
                    "value": 4
                },
                {
                    "name": "Free State",
                    "value": 6
                },
                {
                    "name": "Gauteng",
                    "value": 4
                },
                {
                    "name": "Kwazulu Natal",
                    "value": 0
                },
                {
                    "name": "Limpopo",
                    "value": 5
                },
                {
                    "name": "Mpumalanga",
                    "value": 42
                },
                {
                    "name": "Northern Cape",
                    "value": 12
                },
                {
                    "name": "North West",
                    "value": 23
                },
                {
                    "name": "Western Cape",
                    "value": 40
                },
                {
                    "name": "unknown",
                    "value": 89
                }
                ],
            "maritalstatus": [
                {
                    "name": "Married",
                    "value": 300
                },
                {
                    "name": "Married with Kids",
                    "value": 6
                },
                {
                    "name": "Single Parent",
                    "value": 60
                },
                {
                    "name": "Pregnant",
                    "value": 6
                },
                {
                    "name": "Unknown",
                    "value": 6
                }
                ],
            "activationchannel": [
                {
                    "name": "sms",
                    "value": 80
                },
                {
                    "name": "email",
                    "value": 31
                }
                ],
            "responsechannel": [
                {
                    "name": "shortcode",
                    "value": 21
                },
                {
                    "name": "webform",
                    "value": 11
                }
                ],
            "activity": [
                {
                    "name": "growth",
                    "value": 10.4
                },
                {
                    "name": "active",
                    "value": 11.6
                },
                {
                    "name": "inactive",
                    "value": 4.2
                },
                {
                    "name": "new_consumers",
                    "value": 1.4
                },
                {
                    "name": "dupes",
                    "value": 0
                },
                {
                    "name": "unsubs",
                    "value": 400
                }
                ],
            "tiers": [
                {
                    "name": "A",
                    "value": 1
                },
                {
                    "name": "B",
                    "value": 5
                },
                {
                    "name": "C",
                    "value": 0
                },
                {
                    "name": "undefined",
                    "value": 5
                }
                ]
        }
    ```

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The campaign GUID
    
## Campaign [/campaign/delete/{guid}]
### Delete Campaign [POST]

Sets the campaign `active` flag to `false`.

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The campaign GUID
    

+ Response 200

## Campaign Edit details [/campaigns/edit/{guid}]

+ Parameters 
    + guid (required, string) ... 
    
### Get Campaign Edit details [GET]

+ Response 200

    ```
        {
                        "brand_id": "XXXX-XXX-XXXXXX-01",
                        "name": "My new campaign",
                        "description": "The campaign description was entered here",
                        "startdate": "",
                        "enddate": "",
                        "status": "1",
                        "campaign_type": "3",
                        "activationchannels": {
                            "sms": {
                                "active": true,
                                "activationmessage": "Please come back to us",
                                "deploymentdate": ""
                            },
                            "email": {
                                "active": false,
                                "title": "the Title we have",
                                "subjectline": "the Subject line we have",
                                "emailfrom": "info@kc.co.za",
                                "emailreplyto": "info-reply@kc.co.za",
                                "viewonlinetitle": "Lets view this online here",
                                "unsubscribelink": "http://www.undone.com/",
                                "zipfilename": "",
                                "deploymentdate": "",
                                "clickthroughurl": "http://clicker.com"
                            }
                        },
                        "engagementchannels": {
                            "smsshortcode": {
                                "active": true,
                                "shortcode": "34761",
                                "keyword": "Happy",
                                "responsemessage": "The SMS short code response message goes here",
                                "capturefield": [{
                                    "name": "firstname",
                                    "title": "First name",
                                    "type": "String (text up to 500 characters )"
                                }]
                            },
                            "webform": {
                                "active": true,
                                "capturefields": [{
                                    "name": "firstname",
                                    "title": "First name",
                                    "type": "String (text up to 500 characters )"
                                }, {
                                    "name": "lastname",
                                    "title": "Last name",
                                    "type": "String (text up to 500 characters )"
                                }, {
                                    "name": "email",
                                    "title": "Email",
                                    "type": "String (text up to 500 characters )"
                                }, {
                                    "name": "field2",
                                    "title": "Field 2",
                                    "type": "Integer (whole number)"
                                }, {
                                    "name": "field3",
                                    "title": "Field 3",
                                    "type": "String (text up to 500 characters )"
                                }, {
                                    "name": "field4",
                                    "title": "Field 4",
                                    "type": "Boolean (true/false)"
                                },
                                {
                                    "is_default":false,
                                    "name":"customfield12",
                                    "title":"Custom Field",
                                    "type":"String"
                                }],
                                "captureurl": "http://www.urldotcom.com?feild1=field1"
                            }
                        }
                    }
    ```


## Campaign [/campaign/targeted_consumers/{guid}]

### Create Campaign targeted Consumers [POST]

+ Request (application/json)
    
    ```
       {
            "brand": "Baby Soft",
            "product": [
                        "Washlets", 
                        "Enviro-roll",
                        "Mini",
                        "Gold",
                        "Newborn"
            ],
            "province": [ 
                        "Gauteng",
                        "Eastern Cape",
                        "Western Cape",
                        "Limpopo",
                        "Mpumalanga",
                        "North West",
                        "Free State",
                        "Northern Cape",
                        "Unknown" 
                    ],
            "age": [               
                        "sixteen_twentyfour",
                        "twentyfive_thirtyfour",
                        "thirtyfive_fortyfive",
                        "fortyfive_plus",
                        "unknown"
                            ],
            "gender": [
                        "Male",
                        "Female",
                        "Unknown"
                    ],
            "maritalStatus": [
                        "Married Couples",
                        "Married with Kids",
                        "Single",
                        "Single parent",
                        "Expecting parent",
                        "Unknown"
                    ],
            "consumerTier": [
                        "A",
                        "B",
                        "C"
            ],
            "commsPreference": [
                        "SMS",
                        "EMAIL",
                        "UNKOWN"
            ],
            "customFields": [
                        {
                        "name": "Field 1",
                        "operator": "Equals",
                        "value": "111"
                        },
                        {
                        "name": "Field 3",
                        "operator": "Between",
                        "value": {
                            "first": "3",
                            "second": "7"
                            }
                        }
            ]
        }
    ```

+ Response 200 (application/json)

    ```
        {
        "message":"Success"
        }
    ```

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The campaign GUID
    
### View Campaign targeted Consumers data [GET]

+ Request (application/json)
    

+ Response 200 (application/json)

     ```
       {
            "brand": "Baby Soft",
            "product": [
                        "Washlets", 
                        "Enviro-roll",
                        "Mini",
                        "Gold",
                        "Newborn"
            ],
            "province": [ 
                        "Gauteng",
                        "Eastern Cape",
                        "Western Cape",
                        "Limpopo",
                        "Mpumalanga",
                        "North West",
                        "Free State",
                        "Northern Cape",
                        "Unknown" 
                    ],
            "age": [               
                        "sixteen_twentyfour",
                        "twentyfive_thirtyfour",
                        "thirtyfive_fortyfour",
                        "fortyfive_plus",
                        "unknown"
                            ],
            "gender": [
                        "Male",
                        "Female",
                        "Unknown"
                    ],
            "maritalStatus": [
                        "Married Couples",
                        "Married with Kids",
                        "Single",
                        "Single parent",
                        "Expecting parent",
                        "Unknown"
                    ],
            "consumerTier": [
                        "A",
                        "B",
                        "C"
            ],
            "commsPreference": [
                        "SMS",
                        "email",
                        "unkown"
            ],
            "customFields": [
                        {
                        "name": "Field 1",
                        "operator": "Equals",
                        "value": "111"
                        },
                        {
                        "name": "Field 3",
                        "operator": "Between",
                        "value": {
                            "first": "3",
                            "second": "7"
                            }
                        }
            ]
        }
    ```

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The campaign GUID
    

# Group Campaign Assets

## Campaign Assests [/campaign_assets/{guid}]

Please update field names

- `Asset file`. A zip file containing all your email assets, the zip file must contain at least `email.htm`, `unsubscribe.htm` and preferably `email.txt` for the plain text version.
- Image assets should be packaged in the zip file in the root folder. The `unsubscribe.htm` is a page users will view when unsubscribing, and should contain your corporate identity.
- Files with the same name will be automatically overwritten.



+ Parameters 
    + guid (required, string) ... 

### Save Campaign Assets [POST]

Here the request will contain the actual file

+ Response 200

  ```
        {
                "status":"200",
                "message":"Success!"
        }
  ```

### View Campaign Assets [GET]

+ Response 200

 ```
    {
        "Files":[
            "asset.zip",
            "coolimage.jpg",
            "email.html",
            "email.txt"
        ],
        "hasEmailHtml":true,
        "hasEmailText":true,
        "hasUnsubscribe":false
    }
 ```
 
## Campaign Assests [/campaign_assets/delete/{guid}]

### Delete Campaign Assets [POST]

+ Response 200

     ```
            {
                    "status":"200",
                    "message":"Success!"
            }
     ```


# Group Campaign Subscribers

## Campaign Subscriber [/campaign_subscriber/{guid}]
+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The campaign GUID

### Create Campaign Subscriber [POST]

- `Consumer ID` (the consumer guid) 

The campaign guid will be passed as a paramater and the consumer guid as a json object.
This will then attach a consumer to a campaign, thereby making that consumber a subscriber to the campaign.


+ Request (application/json)
    
    ```
        {
            "consumerid": "B7A1AD92-5DE8-437C-94A3-A9EE4009C91E"
        }
    ```

+ Response 200

  
    ```
        {
            "id" : "44D590FA-0C94-4762-9C69-74C920459921"
            "campaignid": "46a6849e-2f7e-4a8e-9693-c9daa84233a4",
            "consumerid": "B7A1AD92-5DE8-437C-94A3-A9EE4009C91E",
            "status" : "200"
        }
    ```

## Campaign Subscriber [/campaign_subscriber/delete/{guid}]

+ Parameters 
    + guid (required, string, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The campaign GUID
    
### Delete Campaign Subscriber [POST]

- `Consumer ID` (the consumer guid) 

+ Request (application/json)
    
    ```
        {
            "consumer": "B7A1AD92-5DE8-437C-94A3-A9EE4009C91E"
        }
    ```
    
+ Response 200

 ```
        {
            "id" : "44D590FA-0C94-4762-9C69-74C920459921"
            "campaignid": "46a6849e-2f7e-4a8e-9693-c9daa84233a4",
            "consumerid": "B7A1AD92-5DE8-437C-94A3-A9EE4009C91E",
            "status" : "200"
        }
 ```
    

## Campaign Subscribers [/campaign_subscribers/{guid}]

This will add or remove multiple users to/from a campaign. A list of all currently assigned users may
also be retrieved. A subscriber will only ever be added to a campaign once.

+ Parameters 
    + guid (required, string) ... 


### Create Campaign Subscribers [POST]

Please update field names

- `Subscriber ID`

+ Request (application/json)

 ```
    {
        "consumers": [
              {
                "consumerid": "12A863EF-26D4-4AE5-817E-C166AC527621"
              },
              {
                "consumerid": "12A863EF-26D4-4AE5-817E-C166AC527622"
              },
              {
                "consumerid": "12A863EF-26D4-4AE5-817E-C166AC527623"
              }
        ]
    }
          
 ```
 
+ Response 200

### View Campaign Subscribers [GET]

- `Campaign ID`
+ Response 200

    ```
    {  
        "consumers":[  
            {  
                "campaignid":"46a6849e-2f7e-4a8e-9693-c9daa84233a4",
                "consumerid":"12A863EF-26D4-4AE5-817E-C166AC527621",
                "consumername":"john1 marks1"
            },
            {  
                "campaignid":"46a6849e-2f7e-4a8e-9693-c9daa84233a4",
                "consumerid":"12A863EF-26D4-4AE5-817E-C166AC527622",
                "consumername":"john2 marks2"
            },
            {  
                "campaignid":"46a6849e-2f7e-4a8e-9693-c9daa84233a4",
                "consumerid":"12A863EF-26D4-4AE5-817E-C166AC527623",
                "consumername":"john3 marks3"
            },
            {  
                "campaignid":"46a6849e-2f7e-4a8e-9693-c9daa84233a4",
                "consumerid":"12A863EF-26D4-4AE5-817E-C166AC527624",
                "consumername":"john4 marks4"
            },
            {  
                "campaignid":"46a6849e-2f7e-4a8e-9693-c9daa84233a4",
                "consumerid":"12A863EF-26D4-4AE5-817E-C166AC527625",
                "consumername":"john5 marks5"
            }
        ]
    }
    ```

## Campaign Subscribers [/campaign_subscribers/delete/{guid}]

### Delete Campaign Subscribers [POST]

Please update field names

- `Subscriber ID`

+ Request (application/json)

 ```
    {
        "consumers": [
              {
                "consumerid": "12A863EF-26D4-4AE5-817E-C166AC527621"
              },
              {
                "consumerid": "12A863EF-26D4-4AE5-817E-C166AC527622"
              },
              {
                "consumerid": "12A863EF-26D4-4AE5-817E-C166AC527623"
              }
        ]
    }
 ```

+ Response 200

 ```
 {
  "consumers": [
        {
            "id" : "44D590FA-0C94-4762-9C69-74C920459921"
            "campaignid": "46a6849e-2f7e-4a8e-9693-c9daa84233a4",
            "consumerid": "B7A1AD92-5DE8-437C-94A3-A9EE4009C91E",
            "status" : "200"
        },
        {
            "id" : "44D590FA-0C94-4762-9C69-74C920459922"
            "campaignid": "46a6849e-2f7e-4a8e-9693-c9daa84233a4",
            "consumerid": "B7A1AD92-5DE8-437C-94A3-A9EE4009C91B",
            "status" : "200"
        },
        {
            "id" : "44D590FA-0C94-4762-9C69-74C920459923"
            "campaignid": "46a6849e-2f7e-4a8e-9693-c9daa84233a1",
            "consumerid": "B7A1AD92-5DE8-437C-94A3-A9EE4009C91S",
            "status" : "Subscriber cannot be deleted."
        }
    ]
  }
 ```
 

## Campaign Responses [/campaigns/responses/{guid}]
This will return the current metrics for a campaign.


+ Parameters
    + guid (string,required) ...

### View Campaign Responses [GET]

Please update field names

- `Date of response`
- `Type of response` (email, sms or USSD)
- `Consumer ID`
- `Response data` (this will include all fields captured for the subscriber

+ Response 200


# Group Programs

## Program [/program/]

### Create Program [POST]

+ Request (application/json)
    
    ```
        {
        "name":"",
        "brand_id":"",
        "userid":""
        }
    ```

+ Response 200 (application/json)

    ```
        {
        "id":"xxxx-xxxxx-xxxx-xxxxx-01"
        }
    ```

## Programs [/programs/{programID}]

+ Parameters
    + programID (string,required) ...

### Save a Program [POST]

Please update field names

- `Program ID`
- `Company ID`
- `Brand ID`
- `Name`
- `Description`
- `Start date & time`
- `End date & time (optional)`
- `Engagement channels`
- `SMS opt-out (optional)`
- `1Cadence field`
- `1Status (optional)`

+ Request (application/json)

        {
                    "brandid": "xxx-00xxxx-1",
                    "userid": "xxx-xxx-a-xx-x-xx-xxxx-b-xxx-x-x",
                    "id": "X-xxx-xx-x-x-xx-x-0",
                    "name": "SMS Communication",
                    "description": "Description ",
                    "when": "Before",
                    "keyfield": "Select a field",
                    "requiresoptin": {
                        "status": true,
                        "campaign": "Select a campaign",
                        "field": "Select a field"
                    },
                    "rounds": 7,
                    "frequency": "Select frequency",
                    "channel": {
                        "sms": {
                            "active": true,
                            "optin": "Thank you for opting into our Program",
                            "optout": "We will miss you"
                        },
                        "email": {
                            "active": false,
                            "title": "",
                            "subjectline": "",
                            "emailfrom": "Select an address",
                            "viewonlinelink": "",
                            "unsubscribelink": ""
                        },
                        "emailpackage":""
                    }
                }

+ Response  200 (application/json;charset=UTF-8)

### View a Program [GET]

Please update field names

- `Program ID`
- `Company ID`
- `Brand ID`
- `Name`
- `Description`
- `Start date & time`
- `End date & time (optional)`
- `Engagement channels`
- `SMS opt-out (optional)`
- `1Cadence field`
- `1Status (optional)`

+ Response  200 (application/json;charset=UTF-8)

    ```
        {
                "id": "xxx-xxxxx-xx-xx-x-x-xxxx-xxxx-xxx-x",
                "name": "Program name 1",
                "brand": {
                    "name": "Baby Soft",
                    "id": "xxx-xxxxxxx-xx-xxxxx-xx"
                },
                "activationchannels": ["SMS", "EMAIL"],
                "user_id": "3",
                "datecreated": "2",
                "datelaunched": "2",
                "startdate": "Monday 1 September",
                "enddate": "Friday 12 September",
                "keyfield": "Pregnancy Due Date",
                "frequency": "Weekly",
                "rounds": "7",
                "description": "This is the programs description from the API Mock",
                "status": "live",
                "progress": {
                    "completed": 2500,
                    "incomplete": 300
                },
                "sent": {
                    "sms": {
                        "last_thirty_days": 45,
                        "total": 500
                    },
                    "email": {
                        "last_thirty_days": 500,
                        "total": 1300
                    }
                },
                "unsubscribers": {

                    "sms": {
                        "last_thirty_days": "7",
                        "total": "50"
                    },
                    "email": {
                        "last_thirty_days": "30",
                        "total": "56"
                    }

                }
        }
    ```

### Delete a Program [DELETE]

Please update field names

- `Program ID`
- `Company ID`
- `Brand ID`
- `Name`
- `Description`
- `Start date & time`
- `End date & time (optional)`
- `Engagement channels`
- `SMS opt-out (optional)`
- `1Cadence field`
- `1Status (optional)`

+ Response  200

## Program Edit details [/programs/edit/{guid}]

+ Parameters 
    + guid (required, string) ... 
    
### Get Campaign Edit details [GET]

+ Response 200

    ```
        {
                    "brandid": "xxx-00xxxx-1",
                    "userid": "xxx-xxx-a-xx-x-xx-xxxx-b-xxx-x-x",
                    "id": "X-xxx-xx-x-x-xx-x-0",
                    "name": "SMS Communication",
                    "description": "Description ",
                    "when": "Before",
                    "keyfield": "Select a field",
                    "requiresoptin": {
                        "status": true,
                        "campaign": "Select a campaign",
                        "field": "Select a field"
                    },
                    "rounds": 7,
                    "frequency": "Select frequency",
                    "channel": {
                        "sms": {
                            "active": true,
                            "optin": "Thank you for opting into our Program",
                            "optout": "We will miss you"
                        },
                        "email": {
                            "active": false,
                            "title": "",
                            "subjectline": "",
                            "emailfrom": "Select an address",
                            "viewonlinelink": "",
                            "unsubscribelink": ""
                        },
                        "emailpackage":""
                    }
                }
    ```



## Programs Messaging [/programs/message/{programID}]

+ Parameters
    + programID (string,required) ...

### Create Programs Message [POST]

Please update fields

- `Message ID`
- `Program ID`
- `Message number`
- `Condition`

+ Response 200

### View Programs Message [GET]

Please update fields

- `Message ID`
- `Program ID`
- `Message number`
- `Condition`

+ Response 200

### Delete Programs Message [DELETE]

Please update fields

- `Message ID`
- `Program ID`
- `Message number`
- `Condition`

+ Response 200




## Programs SMS [/programs/assets/sms/{messageID}]
This adds a SMS message to a program message

 + Parameters 
     + messageID (required, string) ... 

### Create Program Message [POST]

- `SMS Message`
+ Response 200

### View Program Message [GET]

- `SMS Message`
+ Response 200

### Delete Program Message [DELETE]

- `SMS Message`
+ Response 200




## Programs Email Assets [/programs/assets/email/{messageID}]
This adds email assets to a program message

 + Parameters 
     + messageID (required, string) ... 

### Create Program Email Assets [POST]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "email.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200

### View Program Email Assets [GET]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "email.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200

### Delete Program Email Assets [DELETE]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "email.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200




## Programs Unsubscribe [/programs/unsubscribe/{programID}]
This adds an unsubscribe email message to a program

 + Parameters 
     + programID (required, string) ... 

### Unsubscribe from Program Email[POST]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "unsubscribe.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200

### View Unsubscribe from Program Email [GET]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "unsubscribe.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200

### Delete Unsubscribe from Program Email [DELETE]
- `Asset file`. A zip file containing all your email assets, the zip file must contain at least "email.htm"and preferably "unsubscribe.txt" for the plain text version. Image assets should be packaged in the zip file in the root folder.
+ Response 200




## Programs Subscriber [/programs/subscriber/{programID}]
This will add or remove a single user to a program. A subscriber will only ever be added to a program once.

 + Parameters 
     + programID (required, string) ... 

### Subscribe from Program[POST]
- `Subscriber ID`
+ Response 200

### Delete Subscribe from Program [DELETE]
- `Subscriber ID`
+ Response 200





## Programs Subscribers [/programs/subscribers/{programID}]
This will add or remove multiple users to/from a program. A list of all currently assigned users may also be retrieved. A subscriber will only ever be added to a program once.

 + Parameters 
     + programID (required, string) ... 

### Create Program Subscribers[POST]
- `Subscriber ID`
+ Response 200

### View Program Subscribers[GET]
- `Subscriber ID`
+ Response 200

### Delete Program Subscribers[DELETE]
- `Subscriber ID`
+ Response 200





## Program Message Metrics [/programs/metrics/message/{programID}]

This will retrieve the metrics for an indivIDual program message.
+ Parameters
    + programID (string,required) ...

### View Program Metrics[GET]
- `Total sent`
- `Total bounced`
- `Total unique opens`
- `Total clicks`
- `Total unique clicks`
- `Total modified`
- `Total unsubscribed`
- `Total delivered`
- `Percentage bounced`
- `Percentage delivered`
- `Percentage opened`
- `Percentage clicked`
- `Percentage clicked to open`
- `Percentage modified`
- `Percentage unsubscribed`
- `SMSs sent`
- `SMSs bounced`
- `SMSs unsubscribed`
- `SMSs percentage bounced`
- `SMSs percentage unsubscribed`

+ Response 200


## Programs [/programs/{programID}/communications/]
    
### View a Programs Communications [GET]
 
Please update field names
 
+ Response  200 (application/json;charset=UTF-8)
 
     ```
         {
             "communications": [
             {
                 "id": "xx-xxxd1",
                 "title": "Communication 1",
                 "channel": "SMS",
                 "description": "New description  for communication"
             },
             {
                 "id": "2xx-xxxd1",
                 "title": "Communication 2",
                 "channel": "EMAIL",
                 "description": "Second description"
             }]
         }
     ``` 
     
     
## Program [/program/communication/]
    
### Create a Program Communication [POST]
 
Please update field names
 
+ Request (application/json;charset=UTF-8)
 
         {
            "programid": "XXXX-X-Program-ID",
            "title": "Communication 1",
            "type":"email"
         }

+ Response  200 (application/json;charset=UTF-8)
 
     ```
         {
         "id":"xxx-xxx-01"
         }
     ```


## Program [/program/communication/{commsID}]
    
### Save a Program Communication [POST]
 
Please update field names
 
+ Request (application/json;charset=UTF-8)

         {
            "programid": "XXXX-X-Program-ID",
            "id": "xx-xxxd1",
            "title": "Communication 1",
            "description": "New description for communication",
            "time": "",
            "keyfield": "pregnancy due date",
            "when": "After",
            "times": 24,
            "frequency": "weeks",
            "type": 
            {
                "sms": {
                    "active":false,
                    "message": ""
                },
                "email": {
                    "active":true,
                    "title": "The title goes here",
                    "subjectline": "User created subject line",
                    "emailfrom": "info@kc.co.za",
                    "viewonlinelink": "View link is inserted here",
                    "unsubscribelink": "unsubscribe link value lies here",
                    "clickthroughurl": "click through URL value here",
                    "emailpackage":""
                }
            }
         }
         
+ Response  200 (application/json;charset=UTF-8)


### View a Program Communication for Edit[GET]
 
Please update field names
 
+ Response  200 (application/json;charset=UTF-8)
 
     ```
         {
            "programid": "XXXX-X-Program-ID",
            "id": "xx-xxxd1",
            "title": "Communication 1",
            "description": "New description for communication",
            "time": "",
            "keyfield": "pregnancy due date",
            "when": "After",
            "times": 24,
            "frequency": "weeks",
            "type": 
            {
                "sms": {
                    "active":false,
                    "message": ""
                },
                "email": {
                    "active":true,
                    "title": "The title goes here",
                    "subjectline": "User created subject line",
                    "emailfrom": "info@kc.co.za",
                    "viewonlinelink": "View link is inserted here",
                    "unsubscribelink": "unsubscribe link value lies here",
                    "clickthroughurl": "click through URL value here",
                    "emailpackage":""
                }
            }
         }
     ``` 

# Group Consumer

## Consumer [/consumer]

+ Model (application/hal+json)

    HAL+JSON representation of a basic Consumer in the database.

    + Body
    
        ```
        {
            "_links": {
                "self": {
                    "href": "/consumer/37a06561-dc91-48fc-a638-96ae97a4c8f3"
                },
                "fields": {
                    "array": [ "base", "title", "dob", "consumerTier", "maritalStatus", "..etc" ],
                    "description": "Other populated (or calculated) fields of meta-data that we have in the database about this particular consumer.\n\nTo GET this meta-data from the database, see the /consumer/{guid}/{fieldID} endpoint."
                }
            },
            "id": "37a06561-dc91-48fc-a638-96ae97a4c8f3",
            "firstname": "James",
            "lastname": "Johnson",
            "email": "james@example.com",
            "mobile": "323456789",
            "gender": "m",
            "dateofbirth": "1989-10-27",
            "last_active": "2014-04-16T09:12:00Z",
            "created_at": "2014-04-14T02:15:15Z",
            "status": true,
            "maritalstatus": "Single",
            "pregnancyduedate": "2014-12-25",
            "numberofchildren": "1",
            "commpreference": "sms & email",
            "province": "Gauteng",
            "country": {
                "name": "South Africa",
                "code": "ZA",
                "dialcode": "27"
            },
            "language": {
                "name": "English",
                "code": "en"
            },
            "brands": 
            [
                {
                    "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                    "name": "Baby Soft",
                    "status": "subscribed"
                },
                {
                    "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                    "name": "Huggies",
                    "status": "unsubscribed"
                },
                
            ]
        }
        ```

### Create a Consumer [POST]

- `firstname` `*`
- `lastname` `*`
- `email` `**`
- `mobile` `**`
- `gender` (nullable)
- `dateofbirth` (nullable)
- `last_active` (default: NOW())
- `country` (not required, has default: See API Response)
- `province` (nullable)
- `language` (not required, has default: See API Response)
- `maritalstatus` (nullable)
- `pregnancyduedate` (not required, has default: See API Response)
- `numberofchildren` (nullable)
- `commpreference` (nullable)

`*` Required
`**` _Either or both_ `email` or `mobile` is required. Both cannot be blank.

+ Request (application/json)

    ```
    {
        "firstname": "James",
        "lastname": "Johnson",
        "email": "james@example.com",
        "mobile": "323456789",
        "gender": "m",
        "dateofbirth": "1989-10-27",
        "country": "South Africa",
        "province": "Gauteng",
        "language": "English",
        "maritalstatus": "Single",
        "pregnancyduedate": "2014-12-25",
        "numberofchildren": "1",
        "commpreference": "sms & email"
    }
    ```

+ Response 200

    [Consumer][]

## Consumer [/consumer/{guid}]

### Save a consumer [POST]

Update an existing consumer.

- `firstname` `*`
- `lastname` `*`
- `email` `**`
- `mobile` `**`
- `gender` (nullable)
- `dateofbirth` (nullable)
- `last_active` (default: NOW())
- `country` (not required, has default: See API Response)
- `province` (nullable)
- `language` (not required, has default: See API Response)
- `maritalstatus` (nullable)
- `pregnancyduedate` (not required, has default: See API Response)
- `numberofchildren` (nullable)
- `commpreference` (nullable)

`*` Required
`**` _Either or both_ `email` or `mobile` is required. Both cannot be blank.

+ Request

    ```
    {
        "firstname": "James",
        "lastname": "Johnson",
        "email": "james@example.com",
        "mobile": "323456789",
        "gender": "m",
        "dateofbirth": "1989-10-27",
        "country": "South Africa",
        "province": "Gauteng",
        "language": "English",
        "maritalstatus": "Single",
        "pregnancyduedate": "2014-12-25",
        "numberofchildren": "1",
        "commpreference": "sms & email",
        "brands": 
        [
            {
                "id": "40c03869-6424-4fab-b56a-797eb603e7fa",
                "name": "Baby Soft",
                "status": "subscribed"
            },
            {
                "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                "name": "Huggies",
                "status": "unsubscribed"
            },
            
        ]
    }
    ```

+ Response 200 (application/hal+json)

    ```
    {
        "_link": {
            "self": {
                "href": "/consumer/37a06561-dc91-48fc-a638-96ae97a4c8f3"
            }
        },
        "status": "success",
        "message": "Updated Consumer Name has been updated!",
        "consumer": {
            "id": "37a06561-dc91-48fc-a638-96ae97a4c8f3"
            "name": "New Consumer Name"
        }
    }
    ```

## Consumer [/consumer/{guid}/]
### View a Consumer [GET]

Get a basic view of any specific Consumer.

+ Parameters 
    + guid (required, string, `37a06561-dc91-48fc-a638-96ae97a4c8f3`) ... The Consumer GUID

+ Response 200

    [Consumer][]

## Consumer [/consumer/]
### View a list of Consumers [GET]

Get a list view of all Consumers.

+ Response 200

    [Consumer][]
    
## Consumer [/consumer/delete/{guid}]
### Deactivate a Consumer [POST]

Get a basic view of any specific Consumer.

+ Parameters 
    + guid (required, string, `37a06561-dc91-48fc-a638-96ae97a4c8f3`) ... The Consumer GUID

+ Response 200 (application/json)

    ```
    {
        "status": "success",
        "message": "Consumer has been deactivated.",
        "user": {
            "firstname": "James",
            "lastname": "Johnson"
        }
    }
    ```





## Consumer Engagement Campaigns [/consumer/engagement/campaigns/{guid}]
 + Parameters
     + guid (required, string) ...

### Create a Consumer engagement Campaign [POST]
- `Campaign ID`
- `Date of engagement`
- `Unsubscribed`

+ Response 200

### View a Consumer engagement Campaign [GET]
- `Campaign ID`
- `Date of engagement`
- `Unsubscribed`

+ Response 200

### Delete a Consumer engagement Campaign [DELETE]
- `Campaign ID`
- `Date of engagement`
- `Unsubscribed`

+ Response 200




## Consumer Fields [/consumer/{guid}/{fieldID}]
Allows you to add, read or delete any meta data for a single consumer specified by fieldname
 + Parameters
     + guid (required, string) ...

### Create a Consumer field [POST]
- `Consumer ID`
- `Field value`

+ Response 200

### View a Consumer field [GET]
- `Consumer ID`
- `Field value`

+ Response 200

### Delete a Consumer field [DELETE]
- `Consumer ID`
- `Field value`

+ Response 200


# Group Consumers

## Consumers Company List [/consumers/company/{guid}]

### View Consumers By Company [GET]

+ Parameters
     + guid (string, required, `a53e98e4-0197-4513-be6d-49836e406aaa`) ... The Company GUID

+ Response 200





## Consumers Brand List [/consumers/brand/{guid}]

+ Parameters
    + guid (string, required, `e33898de-6302-4756-8f0c-5f6c5218e02e`) ... The Brand GUID

### View Consumers By Brand [GET]

- `Consumer Id`
- `First name`
- `Last name`
- `Email address`
- `Mobile`
- `Gender`
- `Title`
- `Date of birth`
- `Last active`
- `Country code`
- `Language code`
- `All existing consumer meta data`

+ Response 200




## Consumers Campaign List [/consumers/campaign/{guid}]

+ Parameters
    + guid (string, required) ... The Campaign GUID

### View Consumers By Campaign [GET]

- `Consumer Id`
- `First name`
- `Last name`
- `Email address`
- `Mobile`
- `Gender`
- `Title`
- `Date of birth`
- `Last active`
- `Country code`
- `Language code`
- `All existing consumer meta data`

+ Response 200




## Consumers Program List [/consumers/program/{programId}]

+ Parameters
    + programId (string, required) ...

### View Consumers By Program [GET]

- `Consumer Id`
- `First name`
- `Last name`
- `Email address`
- `Mobile`
- `Gender`
- `Title`
- `Date of birth`
- `Last active`
- `Country code`
- `Language code`
- `All existing consumer meta data`

+ Response 200


## Consumers Growth List [/consumers/growth/brand/{brandId}]

+ Parameters
    + brandId (string, required) ...

### View Consumers Growth by Brand [GET]

+ Response 200
    
    ```
    {
                "key": "Baby Soft",
                "color": "#1A82C1",
                "values": [
                    [1410264000000, 323],
                    [1410350400000, 295],
                    [1410436800000, 251],
                    [1410523200000, 295],
                    [1410609600000, 294],
                    [1410696000000, 295],
                    [1410782400000, 325],
                    [1410868800000, 340],
                    [1410955200000, 345],
                    [1411041600000, 337],
                    [1411128000000, 318],
                    [1411214400000, 317],
                    [1411300800000, 318],
                    [1411387200000, 332],
                    [1411473600000, 337],
                    [1411560000000, 350],
                    [1411646400000, 349],
                    [1411732800000, 328],
                    [1411819200000, 295],
                    [1411905600000, 325],
                    [1411992000000, 340],
                    [1412078400000, 345],
                    [1412164800000, 337],
                    [1412251200000, 318],
                    [1412337600000, 317],
                    [1412424000000, 346],
                    [1412510400000, 332],
                    [1412596800000, 337],
                    [1412683200000, 350],
                    [1412769600000, 349]
                ]
            }
    ```



## Consumers Profile Completion Data [/consumers/profile_status/brand/{brandId}]

+ Parameters
    + brandId (string, required) ...

### View Consumers Profile completetion statistics by Brand [GET]

+ Response 200
    
    ```
    {
      "profiles":  [
         {
            "key": "Completed",
            "value": 78
         }, {
            "key": "Incomplete",
            "value": 22
         }
        ]
    }
    ```


# Group Metrics

## Consumers Brand Metrics [/metrics/consumers/brand/{brandId}]

**WIP**

+ Parameters
    + brandId (string, required) ...
    
### View Consumers Metrics by Brand[GET]
Please update field names

+ Response 200 (application/json;charset=UTF-8)

    ```
        {
        "brand": {
        "id": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
        "name": "Baby Soft",
        "consumers": 987,
        "incompleteconsumers": 34,
        "activecampaigns": 4,
        "pendingcampaigns": 3,
        "completecampaigns": 2,
        "activeprograms": 4,
        "pendingprograms": 3,
        "completeprograms": 2,

        "genders": [
                {
                    "name": "female",
                    "value": 2
                },
                {
                    "name": "unknown",
                    "value": 0
                },
                {
                    "name": "male",
                    "value": 2
                }
                ],
            "ages": [
                {
                    "name": "unknown",
                    "value": 0
                },
                {
                    "name": "sixteen_twentyfour",
                    "value": 0
                },
                {
                    "name": "twentyfive_thirtyfour",
                    "value": 4
                },
                {
                    "name": "thirtyfive_fortyfour",
                    "value": 0
                },
                {
                    "name": "fortyfive_plus",
                    "value": 0
                }
                ],
            "provinces": [
                {
                    "name": "Eastern Cape",
                    "value": 4
                },
                {
                    "name": "Free State",
                    "value": 6
                },
                {
                    "name": "Gauteng",
                    "value": 4
                },
                {
                    "name": "Kwazulu Natal",
                    "value": 0
                },
                {
                    "name": "Limpopo",
                    "value": 5
                },
                {
                    "name": "Mpumalanga",
                    "value": 42
                },
                {
                    "name": "Northern Cape",
                    "value": 12
                },
                {
                    "name": "North West",
                    "value": 23
                },
                {
                    "name": "Western Cape",
                    "value": 40
                },
                {
                    "name": "unknown",
                    "value": 89
                }
                ],
            "maritalstatus": [
                {
                    "name": "Married",
                    "value": 300
                },
                {
                    "name": "Married with Kids",
                    "value": 6
                },
                {
                    "name": "Single Parent",
                    "value": 60
                },
                {
                    "name": "Pregnant",
                    "value": 6
                },
                {
                    "name": "Unknown",
                    "value": 6
                }
                ],
            "activationchannel": [
                {
                    "name": "sms",
                    "value": 80
                },
                {
                    "name": "email",
                    "value": 31
                }
                ],
            "responsechannel": [
                {
                    "name": "shortcode",
                    "value": 21
                },
                {
                    "name": "webform",
                    "value": 11
                }
                ],
            "activity": [
                {
                    "name": "growth",
                    "value": 10.4
                },
                {
                    "name": "active",
                    "value": 11.6
                },
                {
                    "name": "inactive",
                    "value": 4.2
                },
                {
                    "name": "new_consumers",
                    "value": 1.4
                },
                {
                    "name": "dupes",
                    "value": 0
                },
                {
                    "name": "unsubs",
                    "value": 400
                }
                ],
            "tiers": [
                {
                    "name": "A",
                    "value": 1
                },
                {
                    "name": "B",
                    "value": 5
                },
                {
                    "name": "C",
                    "value": 0
                },
                {
                    "name": "undefined",
                    "value": 5
                }
                ]
            }
        }
    ```
    




## Campaign Brand [/metrics/campaigns/brand/{brandguid}]

**WIP**


### View campaigns by brands [GET]
Please update field names


+ Response 200 (application/json;charset=UTF-8)

    ```
        {
       "campaigns": [
            {
                "brandid": "469bbea6-2532-4bf1-84b2-af656da10325",
                "userid": "",
                "id": "xxxxx-1",
                "name": "Campaign 1",
                "description": "This is the description of this campaign from the test API whoo",
                "activationchannels": ["SMS","EMAIL"],
                "engagementchannels": ["WEBFORM", "SMS SHORTCODE"],
                "launchbase": "987",
                "webformresponses": "35",
                "emailsent": "698",
                "emailopenrate": "27",
                "emailhasCTA": "1",
                "emailclicks": "25",
                "smssent": "289",
                "smsdelivered": "261",
                "shortcoderesponses": "104",
                "startdate": "Friday 26 September",
                "enddate": "Thursday 2 October",
                "status": "live"
            },            
            {
                "brandid": "469bbea6-2532-4bf1-84b2-af656da10325",
                "userid": "",
                "id": "xxxxx-2",
                "name": "Campaign number 2",
                "description": "This is the description campaign number 2 from the test API whoo",
                "activationchannels": ["EMAIL"],
                "engagementchannels": ["WEBFORM"],
                "launchbase": "43532",
                "webformresponses": "1945",
                "emailsent": "40000",
                "emailopenrate": "32",
                "emailhasCTA": "1",
                "emailclicks": "28",
                "smssent": "0",
                "smsdelivered": "0",
                "shortcoderesponses": "0",
                "startdate": "Friday 3 October",
                "enddate": "Monday 6 October",
                "status": "live"
            },
            {
                "brandid": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                "userid": "",
                "id": "xxxx-3",
                "name": "Another campaign",
                "description": "This is the description for the YOLO campaign from the test API whoo",
                "activationchannels": ["SMS"],
                "engagementchannels": ["SMS SHORTCODE"],
                "launchbase": "232",
                "webformresponses": "32",
                "emailsent": "0",
                "emailopenrate": "0",
                "emailhasCTA": "0",
                "emailclicks": "0",
                "smssent": "232",
                "smsdelivered": "224",
                "shortcoderesponses": "84",
                "startdate": "Friday 10 October",
                "enddate": "Friday 17 October",
                "status": "live"                
            },
            {
                "brandid": "d262e101-d37d-47aa-b0f2-7200da6e43f1",
                "userid": "",
                "id": "xxxx-4",
                "name": "In-store enter to WIN campaign",
                "description": "This is the description for the YOLO campaign from the test API whoo",
                "activationchannels": [""],
                "engagementchannels": ["SMS SHORTCODE"],
                "launchbase": "0",
                "webformresponses": "327",
                "emailsent": "0",
                "emailopenrate": "0",
                "emailhasCTA": "0",
                "emailclicks": "0",
                "smssent": "0",
                "smsdelivered": "0",
                "shortcoderesponses": "460",
                "startdate": "Friday 10 October",
                "enddate": "Friday 17 October",
                "status": "live"                
            },
            {
                "brandid": "40c03869-6424-4fab-b56a-797eb603e7fa",
                "userid": "",
                "id": "xxxx-5",
                "name": "Thursday Special campaign",
                "description": "This is the description for the Thursday Whopper campaign from the test API",
                "activationchannels": ["SMS"],
                "engagementchannels": ["WEBFORM"],
                "launchbase": "2356",
                "webformresponses": "2210",
                "emailsent": "1198",
                "emailopenrate": "34",
                "emailhasCTA": "0",
                "emailclicks": "22",
                "smssent": "934",
                "smsdelivered": "224",
                "shortcoderesponses": "104",
                "startdate": "Monday 20 October",
                "enddate": "Thursday 23 October",
                "status": "inactive"   
            }]
        }
    ```


## Program Brand [/metrics/programs/brand/{brandguid}]

**WIP**


### View Programs Metrics by brand [GET]
Please update field names


+ Response 200 (application/json;charset=UTF-8)

    ```
        {
       "programs": [
            {
                "brandid": "469bbea6-2532-4bf1-84b2-af656da10325",
                "userid": "",
                "id": "xxxxx-1",
                "name": "Program number 1",
                "status":"live",
                "description": "Another description",
                "keyfield": "Divorce",
                "requiresoptin": "yes",
                "rounds": "13",
                "frequency": "Monthly",
                "channels":["sms","email"]
            },            
            {
                "brandid": "469bbea6-2532-4bf1-84b2-af656da10325",
                "userid": "",
                "id": "xxxxx-2",
                "name": "Programme 2",
                "status":"live",
                "description": "New description for testing",
                "keyfield": "Death",
                "requiresoptin": "yes",
                "rounds": "14",
                "frequency": "Weekly",
                "channels":["sms"]
            },
            {
                "brandid": "469bbea6-2532-4bf1-84b2-af656da10325",
                "userid": "",
                "id": "xxxx-3",
                "name": "Program 3",
                "status":"inactive",
                "description": "Proper new description",
                "keyfield": "Select a field",
                "requiresoptin": "yes",
                "rounds": "21",
                "frequency": "Daily",
                "channels":["email"]
            }]
        }
    ```
    




# Group Capture Fields

With this, the default capture fields will be saved and listed. All new capture fields will be regarded as "Not default"
We should define auth levels for this.

I've left the "is_default" field in even though it isn't entirely needed right now. Can easily be removed.

## Capture Field list custom [/capturefield/custom]

### Get a list of all the custom capture fields regardless of campaigns [GET]


+ Response 200 (application/json;charset=UTF-8)

    ``` 
        {
        "capture_items":[
            {
              "is_default":false,
              "name":"customfield12",
              "title":"Custom Field",
              "type":"String"
            },
            {
              "is_default":false,
              "name":"customfield13",
              "title":"Another Custom Field",
              "type":"String"
            }]
        }
    ```
    
## Capture Field list default [/capturefield/default]

### Get a list of all the default capture fields regardless of campaigns [GET]

+ Response 200 (application/json;charset=UTF-8)

   ``` 
        {
        "capture_items":[
            {
              "is_default":true,
              "name":"firstname",
              "title":"First name",
              "type":"String"
            },
            {
              "is_default":true,
              "name":"lastname",
              "title":"Last name",
              "type":"String"
            },
            {
              "is_default":true,
              "name":"email",
              "title":"Email",
              "type":"String"
            },
            {
              "is_default":true,
              "name":"mobile",
              "title":"Mobile",
              "type":"String"
            },
            {
              "is_default":true,
              "name":"dob",
              "title":"Birth Date",
              "type":"String"
            },
            {
              "is_default":true,
              "name":"gender",
              "title":"Gender",
              "type":"Boolean"
            },
            {
              "is_default":true,
              "name":"location",
              "title":"Location",
              "type":"String"
            }
            ]
        }
    ```
    
## Capture Field creation [/capturefield/]  

### Create a custom capture field. [POST]


This end-point requires the following parameters to be sent:

- `name` (string) "code" the spaceless variable
- `title` (string)
- `type` (string)

+ Request (application/json;charset=UTF-8)

    ```
    {
        "name": "customfield",
        "title": "A Custom field",
        "type": "String (text up to 500 characters )"
    }
    ```

+ Response 200

 ```
    {
        "name": "customfield",
        "title": "A Custom field",
        "type": "String (text up to 500 characters )"
    }
    ```

+ Response 401


# Group Miscellaneous functions

Here, we will have any functions that don't quite apply to any other group specifically.


## Province list [/province/]

### Get a list of all the provinces with specific guids in order to standardise this process [GET]


+ Response 200 (application/json;charset=UTF-8)

    ``` 
        {  
        "provinces":[  
            {  
                "guid":"243B41F9-CBB2-4C69-8C45-96C71346AE91",
                "name":"Eastern Cape"
            },
            {  
                "guid":"774BC20D-4764-428B-B15C-B8D659BDB2C5",
                "name":"Free State"
            },
            {  
                "guid":"B866AF00-AA57-4EC7-ABC4-59674D5E646B",
                "name":"Gauteng"
            },
            {  
                "guid":"528B818A-5AAF-443D-A866-79FBDA4C8EA6",
                "name":"Kwazulu Natal"
            },
            {  
                "guid":"9ACE0CE8-ADCD-4C32-A8A4-6758AF5CED33",
                "name":"Limpopo"
            },
            {  
                "guid":"CB849904-4162-4EC3-8E1C-71D3685A44A3",
                "name":"Mpumalanga"
            },
            {  
                "guid":"8C74CD9D-8C9D-4509-B1BF-8CA02F2988D5",
                "name":"Northern Cape"
            },
            {  
                "guid":"69B438A0-E65A-49A2-8A15-139C58DE0566",
                "name":"North West"
            },
            {  
                "guid":"AA2FBB58-ECC4-416F-8669-B0DD9A86334B",
                "name":"Western Cape"
            }
            ]
        }
    ```
    
## Marital status list [/maritalstatus/]

### Get a list of all the marital statuses with specific guids in order to standardise this process [GET]


+ Response 200 (application/json;charset=UTF-8)

    ``` 
        {  
        "statuses":[  
            {  
                "guid":"AF3331E6-FE07-44E9-9F60-B6D0F7A07CDB",
                "name":"Married"
            },
            {  
                "guid":"D2869401-2270-45EB-B658-5DF41F01E1F4",
                "name":"Single"
            },
            {  
                "guid":"A2D17E45-EB89-40B2-BA04-FDD226B30919",
                "name":"Divorced"
            },
            {  
                "guid":"9D4A6F8B-1773-47A7-91B5-936F28AEE801",
                "name":"Widowed"
            },
           
            ]
        }
    ```
    
# Group Capture Points

The consumer capture points


## Capture point [/capture/{campaignguid}/]

### Submits consumer data to the campaign  [POST]
This returns status 200 if the data was submitted with no issues
Status 206 is returned if one or more look up fields where incorrectly passed (e.g. marital status, province, etc). The record is still saved but without the offending value.
Status 400 is returned if one or more mandatory fields are missing (campaign guid, email or mobile).
Status 500 is returned if the user cannot be saved due to a server error

+ Response 200 (application/json;charset=UTF-8)
+ Response 206 (application/json;charset=UTF-8)

    ``` 
        {  
        "FailReason":Meaningful fail message, listing missing content"
        }

+ Response 400 (application/json;charset=UTF-8)

    ``` 
        {  
        "FailReason":Message lists missing field"

        }
+ Response 500 (application/json;charset=UTF-8)

    ``` 
        {  
        "FailReason":Meaningful fail message"

        }
